info:
  contact:
    email: support@aiapplyd.com
    name: AI Applyd
    url: https://aiapplyd.com
  description: 'The AI Applyd API runs the whole job hunt for you: it matches you to roles that fit your profile, rewrites
    your resume for each posting, writes the cover letter the form asks for, and auto-applies across the major applicant tracking
    systems. Every send is tracked from the swipe to the employer''s own confirmation, so you always know what landed. Authenticate
    with a Bearer session token. The same surface powers the web app, the mobile app and the AI Applyd MCP server for ChatGPT,
    Claude and other agents.'
  license:
    name: Proprietary
    url: https://aiapplyd.com/legal/terms
  title: AI Applyd API
  version: 115c47ce
openapi: 3.0.0
security:
- BearerAuth: []
servers:
- description: Current environment
  url: https://api.aiapplyd.com/api/v1
tags:
- description: System health and diagnostics
  name: system
- description: Authentication and authorization
  name: auth
- description: Subscription and billing management
  name: billing
- description: Usage tracking and quotas
  name: usage
components:
  securitySchemes:
    BearerAuth:
      description: 'Session token from signing in to AI Applyd, sent as `Authorization: Bearer <token>`.'
      scheme: bearer
      type: http
  schemas:
    AccountResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Account'
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - true
      required:
      - data
      - success
      additionalProperties: false
      description: Successful API response
    Account:
      type: object
      properties:
        id:
          type: string
          description: User identifier
          example: user_123
        email:
          type: string
          format: email
          description: User email address
          example: user@example.com
        name:
          type: string
          nullable: true
          description: User display name
          example: John Doe
        image:
          type: string
          nullable: true
          description: User avatar URL
          example: https://example.com/avatar.jpg
        phone:
          type: string
          nullable: true
          description: User phone number
          example: '+1234567890'
        emailVerified:
          type: string
          nullable: true
          description: Email verification timestamp
          example: '2024-01-01T00:00:00Z'
        marketingEmailsOptOut:
          type: boolean
          description: Whether user opted out of marketing emails
        stripeCustomerId:
          type: string
          nullable: true
          description: Stripe customer ID
          example: cus_1234567890
        company:
          type: string
          nullable: true
          description: User-supplied current employer (B2B segmentation).
          example: Acme Corp
        companySlug:
          type: string
          nullable: true
          description: Server-derived slug used as PostHog group identifier.
          example: acme-corp
        locale:
          type: string
          nullable: true
          enum:
          - en
          - es
          - de
          - fr
          - pt-BR
          - null
          description: Saved language preference. NULL means the language is negotiated per request from the URL prefix, the
            aiapplyd_locale cookie and Accept-Language.
          example: de
        createdAt:
          type: string
          description: Account creation timestamp
          example: '2024-01-01T00:00:00Z'
        updatedAt:
          type: string
          description: Last update timestamp
          example: '2024-01-01T00:00:00Z'
      required:
      - id
      - email
      - name
      - image
      - phone
      - emailVerified
      - marketingEmailsOptOut
      - stripeCustomerId
      - company
      - companySlug
      - locale
      - createdAt
      - updatedAt
      additionalProperties: false
    ResponseMetadata:
      type: object
      properties:
        duration:
          type: number
          minimum: 0
          exclusiveMinimum: true
          description: Request duration in milliseconds
          example: 150
        performance:
          type: object
          properties:
            dbQueries:
              type: integer
              minimum: 0
            totalDbTime:
              type: number
              minimum: 0
          description: Performance metrics (preview/local only)
        requestId:
          type: string
          description: Unique request identifier
          example: req_abc123
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 timestamp
          example: '2026-09-25T17:29:47.224Z'
        version:
          type: string
          description: API version
          example: v1
    ApiErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            context:
              oneOf:
              - type: object
                properties:
                  errorType:
                    type: string
                    enum:
                    - validation
                  field:
                    type: string
                  fieldErrors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        expected:
                          type: string
                        field:
                          type: string
                        message:
                          type: string
                        received:
                          type: string
                      required:
                      - field
                      - message
                  schemaName:
                    type: string
                required:
                - errorType
              - type: object
                properties:
                  attemptedEmail:
                    type: string
                    format: email
                  errorType:
                    type: string
                    enum:
                    - authentication
                  failureReason:
                    type: string
                    enum:
                    - invalid_credentials
                    - account_locked
                    - expired_token
                    - token_expired
                    - missing_token
                    - invalid_token
                    - session_expired
                    description: Reason for authentication failure
                    example: token_expired
                  ipAddress:
                    type: string
                  operation:
                    type: string
                  service:
                    type: string
                  userAgent:
                    type: string
                required:
                - errorType
              - type: object
                properties:
                  actualPermission:
                    type: string
                  errorType:
                    type: string
                    enum:
                    - authorization
                  requiredPermission:
                    type: string
                  resource:
                    type: string
                  resourceId:
                    type: string
                  userId:
                    type: string
                required:
                - errorType
              - type: object
                properties:
                  constraint:
                    type: string
                  errorType:
                    type: string
                    enum:
                    - database
                  operation:
                    type: string
                    enum:
                    - insert
                    - update
                    - delete
                    - select
                    - batch
                    - transaction
                    - migration
                    description: Type of database operation
                    example: select
                  resourceId:
                    type: string
                  sqlState:
                    type: string
                  table:
                    type: string
                  userId:
                    type: string
                required:
                - errorType
              - type: object
                properties:
                  endpoint:
                    type: string
                  errorType:
                    type: string
                    enum:
                    - external_service
                  httpStatus:
                    type: number
                  operation:
                    type: string
                  resourceId:
                    type: string
                  responseTime:
                    type: number
                  retryAttempt:
                    type: integer
                  service:
                    type: string
                  serviceName:
                    type: string
                  userId:
                    type: string
                required:
                - errorType
              - type: object
                properties:
                  errorType:
                    type: string
                    enum:
                    - resource
                  resource:
                    type: string
                  resourceId:
                    type: string
                  service:
                    type: string
                  userId:
                    type: string
                required:
                - errorType
              - type: object
                properties:
                  errorType:
                    type: string
                    enum:
                    - rate_limit
                  limit:
                    type: number
                  resetTime:
                    type: string
                  windowMs:
                    type: number
                required:
                - errorType
              - type: object
                properties:
                  configKey:
                    type: string
                  errorType:
                    type: string
                    enum:
                    - configuration
                  operation:
                    type: string
                  service:
                    type: string
                required:
                - errorType
              description: Type-safe error context information
              example:
                errorType: validation
                fieldErrors:
                - field: email
                  message: Invalid email format
            details:
              oneOf:
              - type: object
                properties:
                  detailType:
                    type: string
                    enum:
                    - validation
                  validationErrors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        field:
                          type: string
                        message:
                          type: string
                      required:
                      - field
                      - message
                required:
                - detailType
                - validationErrors
                additionalProperties: false
              - type: object
                properties:
                  detailType:
                    type: string
                    enum:
                    - service_error
                  originalError:
                    type: string
                  serviceName:
                    type: string
                required:
                - detailType
                - serviceName
                additionalProperties: false
              - type: object
                properties:
                  currentSize:
                    type: number
                  detailType:
                    type: string
                    enum:
                    - batch
                  originalError:
                    type: string
                  statementCount:
                    type: number
                required:
                - detailType
                additionalProperties: false
              - type: object
                properties:
                  detailType:
                    type: string
                    enum:
                    - rate_limit
                  limit:
                    type: number
                  resetTime:
                    type: string
                  windowMs:
                    type: number
                required:
                - detailType
                - limit
                - resetTime
                - windowMs
                additionalProperties: false
              - type: object
                properties:
                  conflictingField:
                    type: string
                  detailType:
                    type: string
                    enum:
                    - resource
                  resourceId:
                    anyOf:
                    - type: string
                    - type: number
                  resourceType:
                    type: string
                required:
                - detailType
                additionalProperties: false
              - type: object
                properties:
                  detailType:
                    type: string
                    enum:
                    - generic
                  info:
                    type: string
                required:
                - detailType
                additionalProperties: false
              - type: object
                properties:
                  currentTokens:
                    type: integer
                    minimum: 0
                  detailType:
                    type: string
                    enum:
                    - insufficient_tokens
                  requiredTokens:
                    type: integer
                    minimum: 0
                required:
                - currentTokens
                - detailType
                - requiredTokens
                additionalProperties: false
            message:
              type: string
            validation:
              type: array
              items:
                type: object
                properties:
                  code:
                    type: string
                  field:
                    type: string
                  message:
                    type: string
                required:
                - field
                - message
                additionalProperties: false
          required:
          - code
          - message
          additionalProperties: false
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - false
      required:
      - error
      - success
      additionalProperties: false
    AccountUpdatedResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            success:
              type: boolean
              enum:
              - true
            message:
              type: string
              description: Update confirmation message
              example: Account updated successfully
          required:
          - success
          - message
          additionalProperties: false
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - true
      required:
      - data
      - success
      additionalProperties: false
      description: Successful API response
    UpdateAccountRequest:
      type: object
      properties:
        company:
          type: string
          maxLength: 120
          description: User-supplied employer name. Pass an empty string to clear.
          example: Acme Corp
        locale:
          type: string
          nullable: true
          enum:
          - en
          - es
          - de
          - fr
          - pt-BR
          - null
          description: Language preference. Send null to clear it and negotiate per request.
          example: de
        marketingEmailsOptOut:
          type: boolean
          description: Opt out of marketing emails
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: User display name
          example: John Doe
        phone:
          type: string
          maxLength: 20
          description: User phone number
          example: '+1234567890'
      additionalProperties: false
    AppleAuthorizationStoredResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            stored:
              type: boolean
              enum:
              - true
          required:
          - stored
          additionalProperties: false
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - true
      required:
      - data
      - success
      additionalProperties: false
      description: Successful API response
    StoreAppleAuthorizationRequest:
      type: object
      properties:
        appleUserId:
          type: string
          minLength: 1
          maxLength: 255
          description: Stable Apple user identifier returned by the native credential
        authorizationCode:
          type: string
          minLength: 1
          maxLength: 4096
          description: Single-use native Apple authorization code
      required:
      - appleUserId
      - authorizationCode
      additionalProperties: false
    AccountDeletedResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            cleanupPending:
              type: boolean
              description: Account access is removed; provider or stored-file erasure is still being recovered.
            message:
              type: string
              description: Deletion confirmation message
              example: Account deleted successfully
          required:
          - cleanupPending
          - message
          additionalProperties: false
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - true
      required:
      - data
      - success
      additionalProperties: false
      description: Successful API response
    OverviewResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/OverviewData'
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - true
      required:
      - data
      - success
      additionalProperties: false
      description: Successful API response
    OverviewData:
      type: object
      properties:
        aiHistoryCount:
          type: integer
          description: Total number of AI operations
          example: 200
        formsLeftData:
          $ref: '#/components/schemas/FormsLeftData'
        fillsOverTime:
          type: array
          items:
            $ref: '#/components/schemas/TimeSeriesData'
          description: AI operation counts over time
        averageTokensPerFill:
          type: number
          description: Average tokens used per operation
          example: 1500
        totalTokensUsed:
          type: number
          description: Total tokens used
          example: 300000
        successRate:
          $ref: '#/components/schemas/SuccessRateData'
        periodChange:
          type: number
          description: Period-over-period change percentage
          example: 15.5
        jobListingsCount:
          type: integer
          description: Total number of active job listings
          example: 12
        averageAtsScore:
          type: number
          description: Average ATS score across all scored jobs
          example: 72
        outcomes:
          $ref: '#/components/schemas/OutcomeMetrics'
      required:
      - aiHistoryCount
      - formsLeftData
      - fillsOverTime
      - averageTokensPerFill
      - totalTokensUsed
      - successRate
      - periodChange
      - jobListingsCount
      - averageAtsScore
      - outcomes
    FormsLeftData:
      type: object
      properties:
        count:
          type: integer
          description: Estimated AI operations remaining
          example: 100
        percent:
          type: number
          description: Percentage of tokens remaining
          example: 75
      required:
      - count
      - percent
      additionalProperties: false
    TimeSeriesData:
      type: object
      properties:
        date:
          type: string
          description: Date in YYYY-MM-DD format
          example: '2024-01-01'
        count:
          type: integer
          description: Count for this date
          example: 5
      required:
      - date
      - count
      additionalProperties: false
    SuccessRateData:
      type: object
      properties:
        successRate:
          type: number
          description: Overall success rate percentage
          example: 92.5
        successCount:
          type: integer
          description: Number of successful operations
          example: 185
        failureCount:
          type: integer
          description: Number of failed operations
          example: 10
        pendingCount:
          type: integer
          description: Number of pending/aborted operations
          example: 5
        totalCount:
          type: integer
          description: Total number of operation attempts
          example: 200
      required:
      - successRate
      - successCount
      - failureCount
      - pendingCount
      - totalCount
      additionalProperties: false
    OutcomeMetrics:
      type: object
      properties:
        emailResponseRate:
          type: number
          description: Share of classified inbound job emails that carry a positive signal (interview / scheduling / offer),
            as a percentage. 0 when no emails are classified.
          example: 42.5
        interviewsBooked:
          type: integer
          description: Applications that reached an interview-booked outcome (stage phone_screen/interview, or interview_booked_at
            set).
          example: 3
        nextInterviewResultId:
          type: integer
          nullable: true
          description: Application-result id behind the SOONEST upcoming interview event, for the applications deep-link.
            Null when that event has no application behind it; absent on payloads that do not resolve it.
          example: 1481
        offers:
          type: integer
          description: Applications with an offer outcome (applicationStage = offered).
          example: 1
        positiveEmailSignals:
          type: integer
          description: Count of inbound emails classified as a positive signal (interview_invite / scheduling / reschedule
            / offer_letter).
          example: 5
        upcomingInterviews:
          type: integer
          description: Synced calendar events flagged as interviews whose start time is in the future.
          example: 2
      required:
      - emailResponseRate
      - interviewsBooked
      - offers
      - positiveEmailSignals
      - upcomingInterviews
      additionalProperties: false
      description: Real-outcome success metrics from the email + calendar pipeline (interviews booked, offers, upcoming interviews,
        email response rate).
    SuggestionsResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/SuggestionsData'
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - true
      required:
      - data
      - success
      additionalProperties: false
      description: Successful API response
    SuggestionsData:
      type: object
      properties:
        suggestions:
          type: array
          items:
            $ref: '#/components/schemas/Suggestion'
          description: Personalized next-step suggestions
      required:
      - suggestions
      additionalProperties: false
    Suggestion:
      type: object
      properties:
        type:
          type: string
          enum:
          - upload_resume
          - score_resume
          - add_job
          description: Suggestion type identifier
          example: upload_resume
        title:
          type: string
          description: Short action title
          example: Upload your resume
        description:
          type: string
          description: Helpful description
          example: Upload your resume to unlock ATS scoring
        icon:
          type: string
          description: Icon name for UI
          example: file-up
        priority:
          type: number
          description: Priority (1=highest)
          example: 1
        meta:
          type: object
          additionalProperties:
            anyOf:
            - type: string
            - type: number
          description: Additional metadata
      required:
      - type
      - title
      - description
      - icon
      - priority
      additionalProperties: false
    ConfigListResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/ApplicationConfigData'
            pagination:
              type: object
              properties:
                hasNext:
                  type: boolean
                hasPrev:
                  type: boolean
                limit:
                  type: integer
                  minimum: 0
                  exclusiveMinimum: true
                  description: Positive integer
                  example: 1
                page:
                  type: integer
                  minimum: 0
                  exclusiveMinimum: true
                  description: Positive integer
                  example: 1
                pages:
                  type: integer
                  minimum: 0
                  exclusiveMinimum: true
                  description: Positive integer
                  example: 1
                total:
                  type: integer
                  minimum: 0
                  description: Non-negative integer
                  example: 0
              required:
              - hasNext
              - hasPrev
              - limit
              - page
              - pages
              - total
              additionalProperties: false
          required:
          - items
          - pagination
          additionalProperties: false
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - true
      required:
      - data
      - success
      additionalProperties: false
      description: Paginated response with items and pagination metadata
    ApplicationConfigData:
      type: object
      properties:
        status:
          type: string
          enum:
          - active
          - paused
          - completed
          description: Status of an AI agent config
          example: paused
        totalApplications:
          type: integer
          description: Postings the user has applications against, one unit each. Every other counter except totalEmployerReceipts
            is a slice of it and they sum to it exactly. Absent means not computed, which is NOT the same as zero.
          example: 49
        totalApplied:
          type: integer
          description: 'Applications with retained employer proof: a linked employer receipt or a retained post-submit screenshot
            audited as employer confirmation. A legacy applied status or landing confidence grade alone does not count.'
          example: 3
        totalErrors:
          type: integer
        totalSkipped:
          type: integer
        totalSubmitConfirmed:
          type: integer
        totalSubmitClicked:
          type: integer
        totalDeadPostings:
          type: integer
          description: Applications whose posting no longer exists (job_closed / job_removed). Excluded from every other counter
            and from every rate, in both numerator and denominator. Absent means not computed, which is NOT the same as zero.
          example: 2
        totalEmployerReceipts:
          type: integer
          description: Distinct linked employer or ATS confirmation emails. OVERLAPS totalApplied and must not be summed with
            the partitioning counters. Absent means not computed, which is NOT the same as zero.
          example: 0
        totalPendingReview:
          type: integer
          description: Postings whose newest row the USER parked for review (pending_review with a copilot apply mode). Never
            a row our own worker parked. Absent means not computed, which is NOT the same as zero.
          example: 1
        totalQueuedToApply:
          type: integer
          description: 'Postings we will submit or retry without the user: newest row pending / ready_to_submit, or a pending_review
            row our worker parked and the backstop retries. Absent means not computed, which is NOT the same as zero.'
          example: 2
      required:
      - status
      - totalApplied
      - totalErrors
      - totalSkipped
      - totalSubmitConfirmed
      - totalSubmitClicked
      additionalProperties: false
    EnsureConfigResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            status:
              type: string
              enum:
              - active
              - paused
              - completed
              description: Status of an AI agent config
              example: paused
            totalApplications:
              type: integer
              description: Postings the user has applications against, one unit each. Every other counter except totalEmployerReceipts
                is a slice of it and they sum to it exactly. Absent means not computed, which is NOT the same as zero.
              example: 49
            totalApplied:
              type: integer
              description: 'Applications with retained employer proof: a linked employer receipt or a retained post-submit
                screenshot audited as employer confirmation. A legacy applied status or landing confidence grade alone does
                not count.'
              example: 3
            totalErrors:
              type: integer
            totalSkipped:
              type: integer
            totalSubmitConfirmed:
              type: integer
            totalSubmitClicked:
              type: integer
            totalDeadPostings:
              type: integer
              description: Applications whose posting no longer exists (job_closed / job_removed). Excluded from every other
                counter and from every rate, in both numerator and denominator. Absent means not computed, which is NOT the
                same as zero.
              example: 2
            totalEmployerReceipts:
              type: integer
              description: Distinct linked employer or ATS confirmation emails. OVERLAPS totalApplied and must not be summed
                with the partitioning counters. Absent means not computed, which is NOT the same as zero.
              example: 0
            totalPendingReview:
              type: integer
              description: Postings whose newest row the USER parked for review (pending_review with a copilot apply mode).
                Never a row our own worker parked. Absent means not computed, which is NOT the same as zero.
              example: 1
            totalQueuedToApply:
              type: integer
              description: 'Postings we will submit or retry without the user: newest row pending / ready_to_submit, or a
                pending_review row our worker parked and the backstop retries. Absent means not computed, which is NOT the
                same as zero.'
              example: 2
            created:
              type: boolean
              description: Whether the application configuration was newly created (true) or already existed (false)
              example: false
          required:
          - status
          - totalApplied
          - totalErrors
          - totalSkipped
          - totalSubmitConfirmed
          - totalSubmitClicked
          - created
          additionalProperties: false
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - true
      required:
      - data
      - success
      additionalProperties: false
      description: Successful API response
    EnsureConfigRequest:
      type: object
      properties: {}
      additionalProperties: false
    QualityCheckResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/QualityCheckData'
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - true
      required:
      - data
      - success
      additionalProperties: false
      description: Successful API response
    QualityCheckData:
      type: object
      properties:
        matchConfidence:
          type: integer
          minimum: 0
          maximum: 100
        matchingSkills:
          type: array
          items:
            type: string
        missingSkills:
          type: array
          items:
            type: string
        recommendation:
          type: string
          enum:
          - apply
          - review
          - skip
          description: AI recommendation for whether to apply to a job
          example: apply
        suggestions:
          type: array
          items:
            type: string
      required:
      - matchConfidence
      - matchingSkills
      - missingSkills
      - recommendation
      - suggestions
      additionalProperties: false
    QualityCheckRequest:
      type: object
      properties:
        jobDescription:
          type: string
          minLength: 1
          maxLength: 5000
          description: Job description text to evaluate
          example: We are looking for a Senior Software Engineer with 5+ years of experience...
        resumeContent:
          type: string
          maxLength: 10000
          description: Resume content to match against the job description
      required:
      - jobDescription
      additionalProperties: false
    QualityStatsResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/QualityStatsData'
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - true
      required:
      - data
      - success
      additionalProperties: false
      description: Successful API response
    QualityStatsData:
      type: object
      properties:
        approved:
          type: integer
        averageConfidence:
          type: number
          nullable: true
        blocked:
          type: integer
        flagged:
          type: integer
        totalChecked:
          type: integer
      required:
      - approved
      - averageConfidence
      - blocked
      - flagged
      - totalChecked
      additionalProperties: false
    RunApplicationsResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/RunApplicationsData'
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - true
      required:
      - data
      - success
      additionalProperties: false
      description: Successful API response
    RunApplicationsData:
      type: object
      properties:
        processed:
          type: integer
        applied:
          type: integer
        skipped:
          type: integer
        errors:
          type: integer
        pendingReview:
          type: integer
        status:
          type: string
          enum:
          - processing
          - completed
          - no_matches
          description: Processing status. "processing" means heavy work was offloaded to background.
          example: processing
      required:
      - processed
      - applied
      - skipped
      - errors
      - pendingReview
      additionalProperties: false
    ApplicationQuotaResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            allowed:
              type: boolean
              description: Whether user can submit applications right now
            blockingPeriod:
              type: string
              nullable: true
              enum:
              - monthly
              - daily
              - weekly
              - lifetime
              - none
              - null
              description: Which period is blocking, if any
              example: monthly
            daily:
              $ref: '#/components/schemas/QuotaPeriodInfo'
            earnedAppliesRemaining:
              type: integer
              minimum: 0
              description: Earned applications available to an unpaid user after a converting referral signup
            freeApplications:
              $ref: '#/components/schemas/FreeApplicationsAllowance'
            hasAppliedBefore:
              type: boolean
              description: Whether this account already has at least one application result. False means the next apply is
                their first ever.
              example: true
            monthly:
              $ref: '#/components/schemas/QuotaPeriodInfo'
            planDailyMax:
              type: number
              description: Plan daily limit for capping persona dailyLimit
              example: 10
            weekly:
              $ref: '#/components/schemas/QuotaPeriodInfo'
          required:
          - allowed
          - blockingPeriod
          - daily
          - earnedAppliesRemaining
          - freeApplications
          - hasAppliedBefore
          - monthly
          - planDailyMax
          - weekly
          additionalProperties: false
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - true
      required:
      - data
      - success
      additionalProperties: false
      description: Successful API response
    QuotaPeriodInfo:
      type: object
      properties:
        limit:
          type: number
          description: Max allowed per period
          example: 5
        remaining:
          type: number
          description: Remaining in current period
          example: 3
        resetAt:
          type: string
          nullable: true
          format: date-time
          description: When the period resets (null if not exhausted)
          example: '2026-04-01T00:00:00.000Z'
        used:
          type: number
          description: Used in current period
          example: 2
      required:
      - limit
      - remaining
      - resetAt
      - used
      additionalProperties: false
    FreeApplicationsAllowance:
      type: object
      properties:
        limit:
          type: integer
          minimum: 0
          description: Preparations a free account may run inside the rolling window.
          example: 3
        remaining:
          type: integer
          minimum: 0
          description: Preparations left. Zero means the swipe must be refused before it fires.
          example: 0
        resetAt:
          type: string
          description: ISO timestamp the oldest consumed attempt ages out.
          example: '2026-10-01T00:00:00.000Z'
        used:
          type: integer
          minimum: 0
          description: Preparations already consumed. Failed preparations are NOT counted.
          example: 3
      required:
      - limit
      - remaining
      - resetAt
      - used
      additionalProperties: false
    ApplicationResultListResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            items:
              type: array
              items:
                $ref: '#/components/schemas/ApplicationResultData'
            pagination:
              type: object
              properties:
                hasNext:
                  type: boolean
                hasPrev:
                  type: boolean
                limit:
                  type: integer
                  minimum: 0
                  exclusiveMinimum: true
                page:
                  type: integer
                  minimum: 0
                  exclusiveMinimum: true
                totalCount:
                  type: integer
                  minimum: 0
                totalPages:
                  type: integer
                  minimum: 0
              required:
              - hasNext
              - hasPrev
              - limit
              - page
              - totalCount
              - totalPages
              additionalProperties: false
            staleCount:
              type: integer
              minimum: 0
              description: Count of this user's pending_review applications older than the stale window (7d). Drives the FE
                bulk-approve nudge.
              example: 0
          required:
          - items
          - pagination
          - staleCount
          additionalProperties: false
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - true
      required:
      - data
      - success
      additionalProperties: false
      description: Successful API response
    ApplicationResultData:
      type: object
      properties:
        applicationStage:
          type: string
          nullable: true
          enum:
          - applied
          - callback
          - phone_screen
          - interview
          - offered
          - rejected
          - no_response
          - null
          description: Stage of the job application pipeline
          example: applied
        appliedAt:
          type: string
          nullable: true
        applyMode:
          type: string
          nullable: true
          enum:
          - copilot
          - auto_approve
          - null
          description: 'What the user asked for on this job, recorded at ingress and never rewritten: auto_approve (we submit)
            or copilot (they review first). NULL on legacy rows. Read this in preference to `status` when deciding whether
            a row is waiting on the user - `status` is mutated by recovery lanes.'
          example: auto_approve
        submittingStartedAt:
          type: string
          nullable: true
          description: When a browser actually began this run (application_result.submitting_started_at). NULL means the row
            is dispatched but no browser has claimed it yet — never read preparation_status=submitting as a run having started.
          example: '2026-08-08T20:10:31.000Z'
        autoRetryStopped:
          type: boolean
          description: True when no automatic lane will ever retry this application again (submit evidence, spent retry budget,
            an unowned terminal error code, hourly browser cap, cancelled, an unwatched pending_review, or an orphaned job
            match). False whenever any lane could still claim the row or it cannot be evaluated.
          example: false
        autoRetryStoppedReason:
          type: string
          nullable: true
          enum:
          - submit_evidence
          - attempts_spent
          - not_retryable
          - cancelled
          - needs_review
          - orphaned
          - null
          description: Which permanent-abandonment lane stopped this row (submit_evidence / attempts_spent / not_retryable
            / cancelled / needs_review / orphaned). Null when the row is not stopped OR could not be evaluated - never render
            null as "still going".
          example: null
        nextAutoRetryAt:
          type: string
          nullable: true
          description: Earliest ISO timestamp an automatic attempt can re-claim this row, from the hourly stuck-sweep selection
            rounded up to the next cron tick. A floor, not a guarantee. Null means we are not naming a time - NOT that no
            retry exists.
          example: null
        updatedAt:
          type: string
          nullable: true
        submitEvidenceTier:
          type: string
          enum:
          - other_side_confirmed
          - our_click_only
          - no_submit_evidence
          description: 'Whose observation backs this row: other_side_confirmed (the employer produced a receipt), our_click_only
            (we clicked Submit but could not read a receipt - an absence, never proof it landed), or no_submit_evidence (we
            never clicked).'
          example: no_submit_evidence
        employerReceiptConfirmed:
          type: boolean
          description: Receipt proof from the employer exists for this application. Screenshot or confirmation-page proof
            is represented separately in landingProofs. Outranks our own status.
          example: false
        landingProofs:
          type: array
          items:
            type: string
            enum:
            - receipt
            - screenshot
            description: Who authored the evidence that this application reached the employer. `receipt` = the employer emailed
              a confirmation linked to this row. `screenshot` = a review of the stored post-submit screenshot read the employer's
              OWN confirmation page. Both are the other side's answer and both count as a proven landing; a row may hold either
              or both.
            example: screenshot
          description: 'Employer-authored proof this application landed: `receipt` (their confirmation email, linked) and/or
            `screenshot` (a review read their own confirmation page). Empty = no such proof, which is NOT a failure.'
          example:
          - screenshot
        statusDisplay:
          anyOf:
          - type: object
            properties:
              label:
                type: string
                minLength: 1
                description: Legacy English badge text for rolling compatibility. V2 clients localize from code and params
                  instead of rendering this field.
                example: Trying again shortly · pass 3 of 4
              noCreditUsed:
                type: boolean
                description: True only when no billable AI or browser work ran for this row (the skipped short-circuits).
                  An errored apply is never "free".
                example: false
              pendingRetryAt:
                type: string
                nullable: true
                format: date-time
                description: Earliest ISO timestamp an automatic attempt can re-claim this row, echoed only with matching
                  V2 scheduledAttempt params. Null means we are not naming a time, never that no retry exists.
                example: null
              tone:
                type: string
                enum:
                - success
                - warning
                - info
                - destructive
                - settled
                - neutral
                - muted
                description: Platform-agnostic colour verdict for a derived application status badge. Web maps it to a Tailwind
                  bg-* class, mobile to a theme hex. Never a class name on the wire.
                example: info
              code:
                type: string
                enum:
                - queued
                - preparing
                - queued_to_apply
                - waiting_for_browser
                - submitting
                - action_needed
                - waiting_for_review
                - applied
                - applied_confirming_landing
                - employer_receipt_confirmed
                - sent_no_receipt_read
                - submitted_verifying
                - already_applied
                - retrying_our_hiccup
                - retrying_soon
                - employer_rejected_retrying
                - failed_retrying
                - resumes_when_funded
                - signing_in
                - paused
                - resuming
                - resume_required
                - not_through
                - no_form
                - not_ready_to_send
                - not_submitted
                - linkedin_easy_apply
                - job_unavailable
                - aggregator_skipped
                - result_submitted
                - result_submitted_awaiting_receipt
                - cancelled
                - result_error
                - result_preparing
                - result_pending_approval
                - result_ready_to_submit
                - result_skipped
                - stopped_generic
                - stopped_submit_evidence
                - stopped_attempts_spent
                - stopped_not_retryable
                - stopped_cancelled
                - stopped_needs_review
                - stopped_orphaned
                - stopped_our_click_only
                - unknown
                description: Stable semantic code for a derived application status display. Clients localize this code and
                  use the legacy label only for rolling compatibility.
                example: queued_to_apply
              params:
                type: object
                properties:
                  attemptsMade:
                    type: integer
                    nullable: true
                    minimum: 0
                    exclusiveMinimum: true
                  retryBudget:
                    type: object
                    nullable: true
                    properties:
                      remaining:
                        type: integer
                        minimum: 0
                      total:
                        type: integer
                        minimum: 0
                        exclusiveMinimum: true
                    required:
                    - remaining
                    - total
                    additionalProperties: false
                  scheduledAttempt:
                    type: object
                    nullable: true
                    properties:
                      current:
                        type: integer
                        minimum: 0
                        exclusiveMinimum: true
                      total:
                        type: integer
                        minimum: 0
                        exclusiveMinimum: true
                    required:
                    - current
                    - total
                    additionalProperties: false
                required:
                - attemptsMade
                - retryBudget
                - scheduledAttempt
                additionalProperties: false
              schemaVersion:
                type: number
                enum:
                - 2
            required:
            - label
            - noCreditUsed
            - pendingRetryAt
            - tone
            - code
            - params
            - schemaVersion
            additionalProperties: false
          - type: object
            properties:
              label:
                type: string
                minLength: 1
                description: Legacy English badge text for rolling compatibility. V2 clients localize from code and params
                  instead of rendering this field.
                example: Trying again shortly · pass 3 of 4
              noCreditUsed:
                type: boolean
                description: True only when no billable AI or browser work ran for this row (the skipped short-circuits).
                  An errored apply is never "free".
                example: false
              pendingRetryAt:
                type: string
                nullable: true
                format: date-time
                description: Earliest ISO timestamp an automatic attempt can re-claim this row, echoed only with matching
                  V2 scheduledAttempt params. Null means we are not naming a time, never that no retry exists.
                example: null
              tone:
                type: string
                enum:
                - success
                - warning
                - info
                - destructive
                - settled
                - neutral
                - muted
                description: Platform-agnostic colour verdict for a derived application status badge. Web maps it to a Tailwind
                  bg-* class, mobile to a theme hex. Never a class name on the wire.
                example: info
            required:
            - label
            - noCreditUsed
            - pendingRetryAt
            - tone
            additionalProperties: false
          - nullable: true
          description: The server-derived status verdict. V2 clients localize its stable code and typed params, then map the
            semantic tone to platform tokens. The English label remains only for rolling compatibility. Null means the row
            has no apply-pipeline state, so clients fall back to the listing status.
          example: null
        browserbaseDebugUrl:
          type: string
          nullable: true
        browserbaseSessionId:
          type: string
          nullable: true
        browserbaseSessionUrl:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
          description: Parsed city from the parent job match, when available.
        company:
          type: string
          nullable: true
        companyLogoUrl:
          type: string
          nullable: true
        companyDomain:
          type: string
          nullable: true
          description: Trusted company-intel domain (company.domain) from the parent job match for the card logo fallback.
            Null when the row has no linked company record or the company has no domain.
          example: acme.com
        country:
          type: string
          nullable: true
          description: Canonical country code from the parent job match.
        contentLocked:
          type: boolean
          description: True when the generated content on this row is truncated because it was prepared without a paid plan.
          example: true
        revealPreviewChars:
          type: integer
          description: Character budget of the preview when contentLocked is true. Lets the client size the fade without hardcoding
            the server constant.
          example: 220
        coverLetterContent:
          type: string
          nullable: true
        coverLetterDocId:
          type: integer
          nullable: true
        coverLetterPdfR2Key:
          type: string
          nullable: true
        createdAt:
          type: string
          nullable: true
        documentsOutdatedAt:
          type: string
          nullable: true
        errorCode:
          type: string
          nullable: true
          enum:
          - access_blocked
          - agent_stuck
          - agent_stuck_dom_unchanged
          - agent_stuck_no_cdp_progress
          - agent_stuck_no_progress_after_warmup
          - aggregator_preflight
          - aggregator_redirect
          - already_applied
          - apply_button_not_found
          - ashby_autofill_banner_failed
          - auth_wall_blocking
          - auth_wall_detected
          - account_door_unsupported
          - account_created_reapply
          - auto_retries_exhausted
          - browser_session_lost
          - browser_timeout
          - captcha_blocked
          - captcha_requires_human
          - captcha_unsolvable
          - cloudflare_challenge
          - credits_exhausted
          - d1_unavailable_at_claim
          - daily_spend_cap
          - auth_required
          - do_reset
          - duplicate
          - duplicate_fence_held
          - emailed_code_never_arrived
          - element_stale
          - employer_eligibility_knockout
          - false_positive_blocked
          - field_unfillable
          - form_not_found
          - hourly_browser_cap
          - html_content_guard
          - insufficient_tokens
          - invalid_apply_url
          - job_closed
          - job_not_found
          - job_removed
          - job_unsaved
          - kill_switch_active
          - manual_test_no_run
          - max_steps_reached
          - multi_step_stalled
          - network_error
          - no_form_present
          - no_resume_uploaded
          - oauth_session_expired
          - oauth_wall_detected
          - page_navigated_away
          - page_too_complex
          - page_unreachable
          - page_unreadable
          - post_submit_unconfirmed
          - preparation_incomplete
          - proxy_exhausted
          - proxy_tunnel_dead
          - quota_exhausted
          - rate_limited
          - redirect_blocked
          - requires_human_review
          - service_unavailable
          - session_expired
          - session_stale
          - spam_flagged
          - stuck_in_loop
          - submission_error
          - submit_deadline_exhausted
          - submit_did_not_take
          - submit_transport_failed
          - submit_validation_rejected
          - submit_withheld_form_refused
          - two_factor_required
          - universal_fill_zero_match
          - validation_error
          - worker_died
          - wrong_landing_page
          - unknown
          - null
          description: Classification of submission failure for strategy-aware retry
          example: network_error
        errorMessage:
          type: string
          nullable: true
        failurePhase:
          type: string
          nullable: true
          enum:
          - prepare
          - navigate
          - login
          - fill
          - submit
          - verify
          - aggregate
          - unknown
          - null
          description: Coarse-grained phase where a submission failure occurred
          example: submit
        id:
          type: integer
        improvementSuggestions:
          type: array
          nullable: true
          items:
            type: string
        jobListingId:
          type: integer
          nullable: true
        jobMatchId:
          type: integer
          nullable: true
        jobTitle:
          type: string
          nullable: true
        jobType:
          type: string
          nullable: true
          description: Job type (full_time, contract, etc.) from the parent job match.
        jobUrl:
          type: string
        location:
          type: string
          nullable: true
          description: Free-text location string from the parent job match.
        matchConfidence:
          type: integer
          nullable: true
        outreachMessages:
          type: string
          nullable: true
        postedAt:
          type: string
          nullable: true
          description: Original posting date from the parent job match.
        salary:
          type: string
          nullable: true
          description: Salary string from the parent job match.
        source:
          type: string
          nullable: true
          description: Aggregator / source of the parent job match (greenhouse, lever, linkedin, etc.).
        workArrangement:
          type: string
          nullable: true
          description: Canonical work-arrangement (remote_global / remote_country / remote_region / hybrid / onsite / unknown)
            from the parent job match.
        phase:
          type: string
          nullable: true
          enum:
          - processing
          - idle
          - paused
          - null
          description: Server-truth lifecycle phase for a single auto-apply run row. `processing` = worker actively running
            a step. `idle` = between steps, waiting for next pickup. `paused` = rate-limit backoff, captcha wait, or explicit
            user pause.
          example: processing
        preparationStatus:
          type: string
          enum:
          - pending
          - preparing
          - ready
          - submitting
          - submitted
          - failed
          - cancelled
          description: Status of application preparation (resume tailoring + cover letter)
          example: pending
        retryCount:
          type: integer
          minimum: 0
        qualityGateAction:
          type: string
          nullable: true
          enum:
          - approved
          - flagged
          - blocked
          - null
          description: 'Outcome of the quality gate check: approved (proceed), flagged (needs review), blocked (rejected)'
          example: approved
        screenshotAfterUrl:
          type: string
          nullable: true
        screenshotBeforeUrl:
          type: string
          nullable: true
        screenshotKey:
          type: string
          nullable: true
        sessionLiveViewUrl:
          type: string
          nullable: true
          format: uri
        status:
          type: string
          enum:
          - pending
          - pending_review
          - ready_to_submit
          - applied
          - applied_unconfirmed
          - skipped
          - error
          - cancelled
          description: Status of an individual application result
          example: pending
        submissionPlatform:
          type: string
          nullable: true
        submittedVia:
          type: string
          nullable: true
          enum:
          - direct_api
          - form_post
          - linkedin_easy_apply
          - indeed_apply
          - glassdoor_apply
          - ziprecruiter_apply
          - authenticated_browser
          - workday_navigator
          - ai_browser_agent
          - email_fallback
          - null
          description: Strategy used to submit a job application
          example: direct_api
        tailoredResumeContent:
          type: string
          nullable: true
        tailoredResumeDocId:
          type: integer
          nullable: true
        tailoredResumePdfR2Key:
          type: string
          nullable: true
        tailoredResumeStructured:
          $ref: '#/components/schemas/AIResumeData'
        tokensRefunded:
          type: integer
          nullable: true
        refundReason:
          type: string
          nullable: true
          enum:
          - job_closed
          - service_unavailable
          - credits_exhausted
          - session_expired
          - session_stale
          - infra_error
          - null
          description: Why a token reservation was refunded in full after a non-user-fault submission failure
          example: job_closed
        legitimacyTier:
          type: string
          nullable: true
          enum:
          - high_confidence
          - proceed_with_caution
          - suspicious
          - null
          description: Deterministic posting-legitimacy verdict from the parent job match. Null when not yet evaluated.
          example: proceed_with_caution
        legitimacySignals:
          anyOf:
          - type: string
          - nullable: true
          description: Serialized LegitimacySignals payload (score + signals[] + tier) from the parent job match. Null when
            not yet evaluated.
        freshnessStatus:
          type: string
          nullable: true
          enum:
          - fresh
          - aging
          - stale
          - unknown
          - null
          description: Posting age bucket (fresh / aging / stale / unknown) from the scraped_job snapshot.
          example: fresh
        repostedCount:
          type: integer
          nullable: true
          minimum: 0
          description: Number of prior live scraped_job rows for this URL family. 0 when no repost history.
          example: 0
        lastRepostDate:
          type: string
          nullable: true
          description: posted_date of the most-recent prior repost. Null when no prior posting exists.
          example: '2026-03-04'
        linkedinApplyMethod:
          type: string
          nullable: true
          enum:
          - easy_apply
          - offsite
          - unknown
          - null
          description: Resolved LinkedIn apply target from the parent job match. `offsite` → applies on a company ATS (suppress
            "Reconnect LinkedIn" copy); `easy_apply` → in-platform LinkedIn Easy Apply; `unknown` → not yet resolved / not
            a LinkedIn posting. Null when the row has no linked job match.
          example: offsite
        submissionInfo:
          $ref: '#/components/schemas/SubmissionInfo'
      required:
      - applicationStage
      - appliedAt
      - autoRetryStopped
      - autoRetryStoppedReason
      - nextAutoRetryAt
      - updatedAt
      - submitEvidenceTier
      - employerReceiptConfirmed
      - statusDisplay
      - city
      - company
      - companyLogoUrl
      - country
      - coverLetterContent
      - coverLetterDocId
      - coverLetterPdfR2Key
      - createdAt
      - documentsOutdatedAt
      - errorCode
      - errorMessage
      - id
      - improvementSuggestions
      - jobListingId
      - jobMatchId
      - jobTitle
      - jobType
      - jobUrl
      - location
      - matchConfidence
      - outreachMessages
      - postedAt
      - salary
      - source
      - workArrangement
      - phase
      - preparationStatus
      - retryCount
      - qualityGateAction
      - screenshotAfterUrl
      - screenshotBeforeUrl
      - screenshotKey
      - sessionLiveViewUrl
      - status
      - submissionPlatform
      - submittedVia
      - tailoredResumeContent
      - tailoredResumeDocId
      - tailoredResumePdfR2Key
      - tokensRefunded
      - refundReason
      additionalProperties: false
    AIResumeData:
      type: object
      nullable: true
      properties:
        certifications:
          type: array
          items:
            type: string
        education:
          type: array
          items:
            $ref: '#/components/schemas/EducationEntry'
        experience:
          type: array
          items:
            $ref: '#/components/schemas/ExperienceEntry'
        personalInfo:
          $ref: '#/components/schemas/PersonalInfo'
        skills:
          type: array
          items:
            type: string
        summary:
          type: string
          nullable: true
    EducationEntry:
      type: object
      properties:
        degree:
          type: string
          example: B.S. Computer Science
        endDate:
          type: string
          nullable: true
        gpa:
          type: string
          nullable: true
        highlights:
          type: array
          nullable: true
          items:
            type: string
        institution:
          type: string
          example: MIT
        location:
          type: string
          nullable: true
        startDate:
          type: string
          nullable: true
      required:
      - degree
      - institution
      additionalProperties: false
    ExperienceEntry:
      type: object
      properties:
        bullets:
          type: array
          items:
            type: string
          example:
          - Led migration of monolithic architecture to microservices, reducing deployment time by 60%
        company:
          type: string
          example: Acme Corp
        current:
          type: boolean
          nullable: true
        endDate:
          type: string
          nullable: true
          example: 2024-01
        location:
          type: string
          nullable: true
        startDate:
          type: string
          example: 2020-01
        title:
          type: string
          example: Senior Engineer
      required:
      - bullets
      - company
      - startDate
      - title
      additionalProperties: false
    PersonalInfo:
      type: object
      properties:
        email:
          anyOf:
          - type: string
            format: email
          - type: string
            enum:
            - ''
          - nullable: true
          example: name@example.com
        fullName:
          type: string
          nullable: true
          example: Ada Lovelace
        linkedin:
          type: string
          nullable: true
        location:
          type: string
          nullable: true
          example: San Francisco, CA
        phone:
          type: string
          nullable: true
          example: +1 (555) 123-4567
        title:
          type: string
          nullable: true
          example: Senior Software Engineer
        website:
          type: string
          nullable: true
      additionalProperties: false
    SubmissionInfo:
      type: object
      properties:
        authPlatform:
          type: string
          description: Which platform needs auth credentials (e.g. linkedin)
          example: linkedin
        canSubmit:
          type: boolean
          description: Whether the application can be submitted to this platform
        hasCredentials:
          type: boolean
          description: Whether the user has stored credentials for the required platform
        platformType:
          type: string
          description: Detected submission platform type
          example: linkedin
        reason:
          type: string
          description: Reason submission is blocked or limited
        requiresAuth:
          type: boolean
          description: Whether the platform requires user authentication credentials
      required:
      - canSubmit
      - platformType
      additionalProperties: false
      description: Pre-flight submission requirements and credential status
    ApplicationsUsageResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            allowed:
              type: boolean
              description: Whether the user can enqueue another auto-apply right now (false = cap reached).
            limit:
              type: integer
              minimum: 0
              description: Tier-bound rolling-30d auto-apply cap (e.g. 7 for job_seeker, 100 for hired_in_30, 300 for hired_yesterday).
              example: 7
            resetAt:
              type: string
              description: ISO timestamp when the current rolling window rolls over (i.e. when the oldest counted apply ages
                out).
              example: '2026-05-20T00:00:00.000Z'
            used:
              type: integer
              minimum: 0
              description: Auto-apply submissions counted against the rolling-30d cap.
              example: 3
          required:
          - allowed
          - limit
          - resetAt
          - used
          additionalProperties: false
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - true
      required:
      - data
      - success
      additionalProperties: false
      description: Successful API response
    PrepareApplicationResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/PrepareApplicationData'
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - true
      required:
      - data
      - success
      additionalProperties: false
      description: Successful API response
    PrepareApplicationData:
      type: object
      properties:
        changesApplied:
          type: array
          items:
            type: string
        coverLetterContent:
          type: string
        id:
          type: integer
        keyThemes:
          type: array
          items:
            type: string
        keywordsAdded:
          type: array
          items:
            type: string
        preparationStatus:
          type: string
          enum:
          - pending
          - preparing
          - ready
          - submitting
          - submitted
          - failed
          - cancelled
          description: Status of application preparation (resume tailoring + cover letter)
          example: pending
        preparedUnderFreeWatch:
          type: boolean
        runStartedAt:
          type: string
          format: date-time
        tailoredResumeContent:
          type: string
      required:
      - id
      - preparationStatus
      - runStartedAt
      additionalProperties: false
    PrepareApplicationRequest:
      type: object
      properties:
        jobMatchId:
          type: integer
          minimum: 0
          exclusiveMinimum: true
          description: ID of the job match to prepare application for
          example: 42
        mode:
          type: string
          enum:
          - copilot
          - auto_approve
          description: Override mode for this preparation. When "copilot", result is created as pending_review.
          example: copilot
      required:
      - jobMatchId
      additionalProperties: false
    BulkApproveResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/BulkApproveResultEntry'
            totalAttempted:
              type: integer
              minimum: 0
            totalApproved:
              type: integer
              minimum: 0
            failedResultIds:
              type: array
              items:
                type: string
              description: Result IDs that failed in this batch (subset of `resultIds` from the request). Empty array when
                every row succeeded.
          required:
          - results
          - totalAttempted
          - totalApproved
          - failedResultIds
          additionalProperties: false
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - true
      required:
      - data
      - success
      additionalProperties: false
      description: Successful API response
    BulkApproveResultEntry:
      type: object
      properties:
        id:
          type: string
          description: Result ID echoed back from the request.
        ok:
          type: boolean
        status:
          type: string
          enum:
          - pending
          - pending_review
          - ready_to_submit
          - applied
          - applied_unconfirmed
          - skipped
          - error
          - cancelled
          description: New status when ok=true (always ready_to_submit).
          example: pending
        reason:
          type: string
          description: Machine-readable reason when ok=false (for example "not_pending_review", "platform_unsupported", "preflight_failed",
            "monthly_cap", or "subscription_required").
      required:
      - id
      - ok
      additionalProperties: false
    BulkApproveRequest:
      type: object
      properties:
        resultIds:
          type: array
          items:
            type: string
            minLength: 1
          minItems: 1
          maxItems: 25
          description: Result IDs to approve in this batch (1 to 25). String-encoded numeric IDs matching the single-row endpoint's
            URL param shape. Each is approved server-side independently; per-row failures do not abort the batch.
          example:
          - '101'
          - '102'
          - '103'
      required:
      - resultIds
      additionalProperties: false
    ApplicationResultItemResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ApplicationResultData'
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - true
      required:
      - data
      - success
      additionalProperties: false
      description: Successful API response
    ApproveResultResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: integer
            status:
              type: string
              enum:
              - pending
              - pending_review
              - ready_to_submit
              - applied
              - applied_unconfirmed
              - skipped
              - error
              - cancelled
              description: Status of an individual application result
              example: pending
          required:
          - id
          - status
          additionalProperties: false
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - true
      required:
      - data
      - success
      additionalProperties: false
      description: Successful API response
    RejectResultResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: integer
            status:
              type: string
              enum:
              - pending
              - pending_review
              - ready_to_submit
              - applied
              - applied_unconfirmed
              - skipped
              - error
              - cancelled
              description: Status of an individual application result
              example: pending
          required:
          - id
          - status
          additionalProperties: false
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - true
      required:
      - data
      - success
      additionalProperties: false
      description: Successful API response
    CancelResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/CancelResultData'
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - true
      required:
      - data
      - success
      additionalProperties: false
      description: Successful API response
    CancelResultData:
      type: object
      properties:
        id:
          type: integer
        status:
          type: string
          enum:
          - pending
          - pending_review
          - ready_to_submit
          - applied
          - applied_unconfirmed
          - skipped
          - error
          - cancelled
          description: Status of an individual application result
          example: pending
      required:
      - id
      - status
      additionalProperties: false
    SingleResultResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/SingleResultData'
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - true
      required:
      - data
      - success
      additionalProperties: false
      description: Successful API response
    SingleResultData:
      type: object
      properties:
        applicationStage:
          type: string
          nullable: true
          enum:
          - applied
          - callback
          - phone_screen
          - interview
          - offered
          - rejected
          - no_response
          - null
          description: Stage of the job application pipeline
          example: applied
        appliedAt:
          type: string
          nullable: true
        applyMode:
          type: string
          nullable: true
          enum:
          - copilot
          - auto_approve
          - null
          description: 'What the user asked for on this job, recorded at ingress and never rewritten: auto_approve (we submit)
            or copilot (they review first). NULL on legacy rows. Read this in preference to `status` when deciding whether
            a row is waiting on the user - `status` is mutated by recovery lanes.'
          example: auto_approve
        submittingStartedAt:
          type: string
          nullable: true
          description: When a browser actually began this run (application_result.submitting_started_at). NULL means the row
            is dispatched but no browser has claimed it yet — never read preparation_status=submitting as a run having started.
          example: '2026-08-08T20:10:31.000Z'
        autoRetryStopped:
          type: boolean
          description: True when no automatic lane will ever retry this application again (submit evidence, spent retry budget,
            an unowned terminal error code, hourly browser cap, cancelled, an unwatched pending_review, or an orphaned job
            match). False whenever any lane could still claim the row or it cannot be evaluated.
          example: false
        autoRetryStoppedReason:
          type: string
          nullable: true
          enum:
          - submit_evidence
          - attempts_spent
          - not_retryable
          - cancelled
          - needs_review
          - orphaned
          - null
          description: Which permanent-abandonment lane stopped this row (submit_evidence / attempts_spent / not_retryable
            / cancelled / needs_review / orphaned). Null when the row is not stopped OR could not be evaluated - never render
            null as "still going".
          example: null
        nextAutoRetryAt:
          type: string
          nullable: true
          description: Earliest ISO timestamp an automatic attempt can re-claim this row, from the hourly stuck-sweep selection
            rounded up to the next cron tick. A floor, not a guarantee. Null means we are not naming a time - NOT that no
            retry exists.
          example: null
        updatedAt:
          type: string
          nullable: true
        submitEvidenceTier:
          type: string
          enum:
          - other_side_confirmed
          - our_click_only
          - no_submit_evidence
          description: 'Whose observation backs this row: other_side_confirmed (the employer produced a receipt), our_click_only
            (we clicked Submit but could not read a receipt - an absence, never proof it landed), or no_submit_evidence (we
            never clicked).'
          example: no_submit_evidence
        employerReceiptConfirmed:
          type: boolean
          description: Receipt proof from the employer exists for this application. Screenshot or confirmation-page proof
            is represented separately in landingProofs. Outranks our own status.
          example: false
        landingProofs:
          type: array
          items:
            type: string
            enum:
            - receipt
            - screenshot
            description: Who authored the evidence that this application reached the employer. `receipt` = the employer emailed
              a confirmation linked to this row. `screenshot` = a review of the stored post-submit screenshot read the employer's
              OWN confirmation page. Both are the other side's answer and both count as a proven landing; a row may hold either
              or both.
            example: screenshot
          description: 'Employer-authored proof this application landed: `receipt` (their confirmation email, linked) and/or
            `screenshot` (a review read their own confirmation page). Empty = no such proof, which is NOT a failure.'
          example:
          - screenshot
        statusDisplay:
          anyOf:
          - type: object
            properties:
              label:
                type: string
                minLength: 1
                description: Legacy English badge text for rolling compatibility. V2 clients localize from code and params
                  instead of rendering this field.
                example: Trying again shortly · pass 3 of 4
              noCreditUsed:
                type: boolean
                description: True only when no billable AI or browser work ran for this row (the skipped short-circuits).
                  An errored apply is never "free".
                example: false
              pendingRetryAt:
                type: string
                nullable: true
                format: date-time
                description: Earliest ISO timestamp an automatic attempt can re-claim this row, echoed only with matching
                  V2 scheduledAttempt params. Null means we are not naming a time, never that no retry exists.
                example: null
              tone:
                type: string
                enum:
                - success
                - warning
                - info
                - destructive
                - settled
                - neutral
                - muted
                description: Platform-agnostic colour verdict for a derived application status badge. Web maps it to a Tailwind
                  bg-* class, mobile to a theme hex. Never a class name on the wire.
                example: info
              code:
                type: string
                enum:
                - queued
                - preparing
                - queued_to_apply
                - waiting_for_browser
                - submitting
                - action_needed
                - waiting_for_review
                - applied
                - applied_confirming_landing
                - employer_receipt_confirmed
                - sent_no_receipt_read
                - submitted_verifying
                - already_applied
                - retrying_our_hiccup
                - retrying_soon
                - employer_rejected_retrying
                - failed_retrying
                - resumes_when_funded
                - signing_in
                - paused
                - resuming
                - resume_required
                - not_through
                - no_form
                - not_ready_to_send
                - not_submitted
                - linkedin_easy_apply
                - job_unavailable
                - aggregator_skipped
                - result_submitted
                - result_submitted_awaiting_receipt
                - cancelled
                - result_error
                - result_preparing
                - result_pending_approval
                - result_ready_to_submit
                - result_skipped
                - stopped_generic
                - stopped_submit_evidence
                - stopped_attempts_spent
                - stopped_not_retryable
                - stopped_cancelled
                - stopped_needs_review
                - stopped_orphaned
                - stopped_our_click_only
                - unknown
                description: Stable semantic code for a derived application status display. Clients localize this code and
                  use the legacy label only for rolling compatibility.
                example: queued_to_apply
              params:
                type: object
                properties:
                  attemptsMade:
                    type: integer
                    nullable: true
                    minimum: 0
                    exclusiveMinimum: true
                  retryBudget:
                    type: object
                    nullable: true
                    properties:
                      remaining:
                        type: integer
                        minimum: 0
                      total:
                        type: integer
                        minimum: 0
                        exclusiveMinimum: true
                    required:
                    - remaining
                    - total
                    additionalProperties: false
                  scheduledAttempt:
                    type: object
                    nullable: true
                    properties:
                      current:
                        type: integer
                        minimum: 0
                        exclusiveMinimum: true
                      total:
                        type: integer
                        minimum: 0
                        exclusiveMinimum: true
                    required:
                    - current
                    - total
                    additionalProperties: false
                required:
                - attemptsMade
                - retryBudget
                - scheduledAttempt
                additionalProperties: false
              schemaVersion:
                type: number
                enum:
                - 2
            required:
            - label
            - noCreditUsed
            - pendingRetryAt
            - tone
            - code
            - params
            - schemaVersion
            additionalProperties: false
          - type: object
            properties:
              label:
                type: string
                minLength: 1
                description: Legacy English badge text for rolling compatibility. V2 clients localize from code and params
                  instead of rendering this field.
                example: Trying again shortly · pass 3 of 4
              noCreditUsed:
                type: boolean
                description: True only when no billable AI or browser work ran for this row (the skipped short-circuits).
                  An errored apply is never "free".
                example: false
              pendingRetryAt:
                type: string
                nullable: true
                format: date-time
                description: Earliest ISO timestamp an automatic attempt can re-claim this row, echoed only with matching
                  V2 scheduledAttempt params. Null means we are not naming a time, never that no retry exists.
                example: null
              tone:
                type: string
                enum:
                - success
                - warning
                - info
                - destructive
                - settled
                - neutral
                - muted
                description: Platform-agnostic colour verdict for a derived application status badge. Web maps it to a Tailwind
                  bg-* class, mobile to a theme hex. Never a class name on the wire.
                example: info
            required:
            - label
            - noCreditUsed
            - pendingRetryAt
            - tone
            additionalProperties: false
          - nullable: true
          description: The server-derived status verdict. V2 clients localize its stable code and typed params, then map the
            semantic tone to platform tokens. The English label remains only for rolling compatibility. Null means the row
            has no apply-pipeline state, so clients fall back to the listing status.
          example: null
        browserbaseDebugUrl:
          type: string
          nullable: true
        browserbaseSessionId:
          type: string
          nullable: true
        browserbaseSessionUrl:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
          description: Parsed city from the parent job match, when available.
        company:
          type: string
          nullable: true
        companyLogoUrl:
          type: string
          nullable: true
        companyDomain:
          type: string
          nullable: true
          description: Trusted company-intel domain (company.domain) from the parent job match for the card logo fallback.
            Null when the row has no linked company record or the company has no domain.
          example: acme.com
        country:
          type: string
          nullable: true
          description: Canonical country code from the parent job match.
        contentLocked:
          type: boolean
          description: True when the generated content on this row is truncated because it was prepared without a paid plan.
          example: true
        revealPreviewChars:
          type: integer
          description: Character budget of the preview when contentLocked is true. Lets the client size the fade without hardcoding
            the server constant.
          example: 220
        coverLetterContent:
          type: string
          nullable: true
        coverLetterDocId:
          type: integer
          nullable: true
        coverLetterPdfR2Key:
          type: string
          nullable: true
        createdAt:
          type: string
          nullable: true
        documentsOutdatedAt:
          type: string
          nullable: true
        errorCode:
          type: string
          nullable: true
          enum:
          - access_blocked
          - agent_stuck
          - agent_stuck_dom_unchanged
          - agent_stuck_no_cdp_progress
          - agent_stuck_no_progress_after_warmup
          - aggregator_preflight
          - aggregator_redirect
          - already_applied
          - apply_button_not_found
          - ashby_autofill_banner_failed
          - auth_wall_blocking
          - auth_wall_detected
          - account_door_unsupported
          - account_created_reapply
          - auto_retries_exhausted
          - browser_session_lost
          - browser_timeout
          - captcha_blocked
          - captcha_requires_human
          - captcha_unsolvable
          - cloudflare_challenge
          - credits_exhausted
          - d1_unavailable_at_claim
          - daily_spend_cap
          - auth_required
          - do_reset
          - duplicate
          - duplicate_fence_held
          - emailed_code_never_arrived
          - element_stale
          - employer_eligibility_knockout
          - false_positive_blocked
          - field_unfillable
          - form_not_found
          - hourly_browser_cap
          - html_content_guard
          - insufficient_tokens
          - invalid_apply_url
          - job_closed
          - job_not_found
          - job_removed
          - job_unsaved
          - kill_switch_active
          - manual_test_no_run
          - max_steps_reached
          - multi_step_stalled
          - network_error
          - no_form_present
          - no_resume_uploaded
          - oauth_session_expired
          - oauth_wall_detected
          - page_navigated_away
          - page_too_complex
          - page_unreachable
          - page_unreadable
          - post_submit_unconfirmed
          - preparation_incomplete
          - proxy_exhausted
          - proxy_tunnel_dead
          - quota_exhausted
          - rate_limited
          - redirect_blocked
          - requires_human_review
          - service_unavailable
          - session_expired
          - session_stale
          - spam_flagged
          - stuck_in_loop
          - submission_error
          - submit_deadline_exhausted
          - submit_did_not_take
          - submit_transport_failed
          - submit_validation_rejected
          - submit_withheld_form_refused
          - two_factor_required
          - universal_fill_zero_match
          - validation_error
          - worker_died
          - wrong_landing_page
          - unknown
          - null
          description: Classification of submission failure for strategy-aware retry
          example: network_error
        errorMessage:
          type: string
          nullable: true
        failurePhase:
          type: string
          nullable: true
          enum:
          - prepare
          - navigate
          - login
          - fill
          - submit
          - verify
          - aggregate
          - unknown
          - null
          description: Coarse-grained phase where a submission failure occurred
          example: submit
        id:
          type: integer
        improvementSuggestions:
          type: array
          nullable: true
          items:
            type: string
        jobListingId:
          type: integer
          nullable: true
        jobMatchId:
          type: integer
          nullable: true
        jobTitle:
          type: string
          nullable: true
        jobType:
          type: string
          nullable: true
          description: Job type (full_time, contract, etc.) from the parent job match.
        jobUrl:
          type: string
        location:
          type: string
          nullable: true
          description: Free-text location string from the parent job match.
        matchConfidence:
          type: integer
          nullable: true
        outreachMessages:
          type: string
          nullable: true
        postedAt:
          type: string
          nullable: true
          description: Original posting date from the parent job match.
        salary:
          type: string
          nullable: true
          description: Salary string from the parent job match.
        source:
          type: string
          nullable: true
          description: Aggregator / source of the parent job match (greenhouse, lever, linkedin, etc.).
        workArrangement:
          type: string
          nullable: true
          description: Canonical work-arrangement (remote_global / remote_country / remote_region / hybrid / onsite / unknown)
            from the parent job match.
        phase:
          type: string
          nullable: true
          enum:
          - processing
          - idle
          - paused
          - null
          description: Server-truth lifecycle phase for a single auto-apply run row. `processing` = worker actively running
            a step. `idle` = between steps, waiting for next pickup. `paused` = rate-limit backoff, captcha wait, or explicit
            user pause.
          example: processing
        preparationStatus:
          type: string
          enum:
          - pending
          - preparing
          - ready
          - submitting
          - submitted
          - failed
          - cancelled
          description: Status of application preparation (resume tailoring + cover letter)
          example: pending
        retryCount:
          type: integer
          minimum: 0
        qualityGateAction:
          type: string
          nullable: true
          enum:
          - approved
          - flagged
          - blocked
          - null
[...]
