openapi: 3.2.0
info:
  contact:
    email: support@aiapplyd.com
    name: AI Applyd
    url: https://aiapplyd.com
  description: 'The AI Applyd API runs the whole job hunt for you: it matches you to roles that fit your profile, rewrites your resume for each posting, writes the cover letter the form asks for, and auto-applies across the major applicant tracking systems.'
  license:
    name: Proprietary
    url: https://aiapplyd.com/legal/terms
  title: AI Applyd Applications API
  version: 115c47ce
servers:
- description: Current environment
  url: https://api.aiapplyd.com/api/v1
security:
- BearerAuth: []
tags:
- name: Applications
paths:
  /applications:
    get:
      tags:
      - Applications
      summary: List Applications
      description: List application results for the authenticated user.
      parameters:
      - schema:
          type: integer
          maximum: 50
          default: 20
          description: Page size (max 50)
          example: 20
          exclusiveMinimum: 0
        required: false
        description: Page size (max 50)
        name: limit
        in: query
      - schema:
          type: integer
          default: 1
          description: Page number (1-based)
          example: 1
          exclusiveMinimum: 0
        required: false
        description: Page number (1-based)
        name: page
        in: query
      - schema:
          type: string
          maxLength: 200
          description: Search by job title or company name
          example: Software Engineer
        required: false
        description: Search by job title or company name
        name: search
        in: query
      - schema:
          type: string
          format: date-time
          description: Only return results created at or after this ISO timestamp
          example: '2026-06-12T00:00:00.000Z'
        required: false
        description: Only return results created at or after this ISO timestamp
        name: since
        in: query
      - schema:
          type: string
          enum:
          - newest
          - oldest
          - best_match
          - status
          - company_az
          default: newest
          description: 'Sort order: newest, oldest, best_match, status, or company_az'
          example: newest
        required: false
        description: 'Sort order: newest, oldest, best_match, status, or company_az'
        name: sort
        in: query
      - schema:
          type: string
          enum:
          - pending
          - pending_review
          - ready_to_submit
          - applied
          - applied_unconfirmed
          - skipped
          - error
          - cancelled
          description: Filter by a single result status
          example: applied
        required: false
        description: Filter by a single result status
        name: status
        in: query
      - schema:
          type: string
          description: Filter by multiple result statuses (comma-separated)
          example: pending,ready_to_submit
        required: false
        description: Filter by multiple result statuses (comma-separated)
        name: statuses
        in: query
      - schema:
          type: string
          description: Filter by application stage (comma-separated). Independent of status/bucket, which describe the submission lifecycle rather than the hiring conversation.
          example: callback,phone_screen,interview
        required: false
        description: Filter by application stage (comma-separated). Independent of status/bucket, which describe the submission lifecycle rather than the hiring conversation.
        name: stages
        in: query
      - schema:
          type: string
          enum:
          - waiting_for_review
          - queued_to_apply
          - verified
          - submitted
          - not_landed
          - taken_down
          description: Filter by Applications bucket. Selects the newest row of every posting the counter files under that bucket; takes precedence over status / statuses.
          example: queued_to_apply
        required: false
        description: Filter by Applications bucket. Selects the newest row of every posting the counter files under that bucket; takes precedence over status / statuses.
        name: bucket
        in: query
      responses:
        '200':
          description: Application results list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResultListResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: getApplications
  /applications/usage:
    get:
      tags:
      - Applications
      summary: Get Apply Usage
      description: 'Returns the user''s rolling 30-day auto-apply cap: used, limit, resetAt (ISO), allowed.'
      responses:
        '200':
          description: Rolling-30d auto-apply cap status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationsUsageResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: getApplicationsUsage
  /applications/prepare:
    post:
      tags:
      - Applications
      summary: Prepare Application Package
      description: Tailor resume and generate cover letter for a specific job match using AI.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepareApplicationRequest'
      responses:
        '200':
          description: Application package prepared
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrepareApplicationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: postApplicationsPrepare
  /applications/results/approve-batch:
    post:
      tags:
      - Applications
      summary: Bulk Approve Pending Applications
      description: Approve up to 25 pending_review results in one request. Each row is re-validated server-side (preflight + platform submittability + status guard) and enqueued independently. Per-row failures do not abort sibling rows.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkApproveRequest'
      responses:
        '200':
          description: Per-row approval verdicts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkApproveResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: postApplicationsResultsApproveBatch
  /applications/by-id/{resultId}:
    get:
      tags:
      - Applications
      summary: Get application result by ID
      description: Get one application result owned by the authenticated user.
      parameters:
      - schema:
          type: string
          pattern: ^\d+$
          description: Application result identifier
          example: '1'
        required: true
        description: Application result identifier
        in: path
        name: resultId
      responses:
        '200':
          description: Application result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationResultItemResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: getApplicationsByIdByResultId
  /applications/{resultId}/approve:
    post:
      tags:
      - Applications
      summary: Approve Pending Application
      description: Approve a pending_review application in copilot mode, changing its status to ready_to_submit.
      parameters:
      - schema:
          type: string
          pattern: ^\d+$
          description: Application result identifier
          example: '1'
        required: true
        description: Application result identifier
        in: path
        name: resultId
      responses:
        '200':
          description: Application approved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApproveResultResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: postApplicationsByResultIdApprove
  /applications/{resultId}/reject:
    post:
      tags:
      - Applications
      summary: Reject Pending Application
      description: Reject a pending_review application in copilot mode, changing its status to skipped.
      parameters:
      - schema:
          type: string
          pattern: ^\d+$
          description: Application result identifier
          example: '1'
        required: true
        description: Application result identifier
        in: path
        name: resultId
      responses:
        '200':
          description: Application rejected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RejectResultResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: postApplicationsByResultIdReject
  /applications/{resultId}/retry:
    post:
      tags:
      - Applications
      summary: Retry Failed Submission (Admin Only)
      description: 'Admin-only. Retry a failed application submission. Resets the result status and re-enqueues for submission. Returns 403 for non-admin users (2026-07-06: there is no user-facing retry).'
      parameters:
      - schema:
          type: string
          pattern: ^\d+$
          description: Application result identifier
          example: '1'
        required: true
        description: Application result identifier
        in: path
        name: resultId
      responses:
        '200':
          description: Submission retry queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApproveResultResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: postApplicationsByResultIdRetry
  /applications/{resultId}/retry-prep:
    post:
      tags:
      - Applications
      summary: Retry Failed Preparation (Admin Only)
      description: 'Admin-only. Retry a failed or stuck application preparation. Resets the result and re-enqueues for preparation. Returns 403 for non-admin users (2026-07-06: there is no user-facing retry).'
      parameters:
      - schema:
          type: string
          pattern: ^\d+$
          description: Application result identifier
          example: '1'
        required: true
        description: Application result identifier
        in: path
        name: resultId
      responses:
        '200':
          description: Preparation retry queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApproveResultResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: postApplicationsByResultIdRetryPrep
  /applications/{resultId}/cancel:
    post:
      tags:
      - Applications
      summary: Cancel Pre-Submission Application
      description: Cancel an in-flight auto-apply ONLY while it's still queued or preparing. Returns 409 Conflict once a Browserbase session has been spawned, the preparer has flipped into SUBMITTING, or the row has reached a terminal state. Used by auto-apply mode where there is no approve button so the user can still bail out before any cloud-browser cost is committed.
      parameters:
      - schema:
          type: string
          pattern: ^\d+$
          description: Application result identifier
          example: '1'
        required: true
        description: Application result identifier
        in: path
        name: resultId
      responses:
        '200':
          description: Application cancelled before submission
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: postApplicationsByResultIdCancel
  /applications/{resultId}/screenshot/{variant}:
    get:
      tags:
      - Applications
      summary: View Submission Screenshot
      description: Download a before/after submission screenshot captured by the auto-apply submitter. Returns the raw PNG bytes. Auth-gated by session because screenshots may contain form PII.
      parameters:
      - schema:
          type: string
          pattern: ^\d+$
          description: Application result ID
          example: '1'
        required: true
        description: Application result ID
        in: path
        name: resultId
      - schema:
          type: string
          enum:
          - before
          - after
          description: 'Which capture to serve: `before` (pre-submit) or `after` (post-submit).'
          example: before
        required: true
        description: 'Which capture to serve: `before` (pre-submit) or `after` (post-submit).'
        in: path
        name: variant
      responses:
        '200':
          description: Screenshot image (PNG)
          content:
            image/png:
              schema:
                type: string
                format: binary
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: getApplicationsByResultIdScreenshotByVariant
  /applications/by-job-match/{jobMatchId}:
    get:
      tags:
      - Applications
      summary: Get application result by job match ID
      description: Get the most recent application result for a given job match.
      parameters:
      - schema:
          type: string
          pattern: ^\d+$
          description: Job match identifier
          example: '1'
        required: true
        description: Job match identifier
        in: path
        name: jobMatchId
      responses:
        '200':
          description: Application result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleResultResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: getApplicationsByJobMatchByJobMatchId
  /applications/{resultId}/live-view:
    get:
      tags:
      - Applications
      summary: Get Browserbase Live View URL
      description: 'Returns a freshly-signed Browserbase debuggerFullscreenUrl that the web app can embed in an iframe to show the in-progress apply session live. Returns `available: false` once the run reaches a terminal state.'
      parameters:
      - schema:
          type: string
          pattern: ^\d+$
          description: Application result identifier
          example: '1'
        required: true
        description: Application result identifier
        in: path
        name: resultId
      responses:
        '200':
          description: Live view URL or unavailable marker
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveViewResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: getApplicationsByResultIdLiveView
  /applications/{resultId}/stage:
    patch:
      tags:
      - Applications
      summary: Update Application Stage
      description: Update the application stage (e.g. applied, interview, offered) for a specific application result.
      parameters:
      - schema:
          type: string
          pattern: ^\d+$
          description: Application result identifier
          example: '1'
        required: true
        description: Application result identifier
        in: path
        name: resultId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateApplicationStageRequest'
      responses:
        '200':
          description: Application stage updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateApplicationStageResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: patchApplicationsByResultIdStage
  /applications/{resultId}/extract-form:
    post:
      tags:
      - Applications
      summary: Extract and map form fields for an application
      description: Run form extractor, AI-map fields, AI-answer screening questions, and return proposed form values for copilot review.
      parameters:
      - schema:
          type: string
          pattern: ^\d+$
          description: Application result identifier
          example: '1'
        required: true
        description: Application result identifier
        in: path
        name: resultId
      responses:
        '200':
          description: Extracted form fields and screening answers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractFormResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: postApplicationsByResultIdExtractForm
  /applications/{resultId}/form-values:
    put:
      tags:
      - Applications
      summary: Update form values before submission
      description: Accept user-edited form field values and screening answers before submitting the application.
      parameters:
      - schema:
          type: string
          pattern: ^\d+$
          description: Application result identifier
          example: '1'
        required: true
        description: Application result identifier
        in: path
        name: resultId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FormValuesRequest'
      responses:
        '200':
          description: Form values updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FormValuesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: putApplicationsByResultIdFormValues
  /applications/{resultId}/download/{type}:
    get:
      tags:
      - Applications
      summary: Download result PDF
      description: Download the tailored resume or cover letter PDF for a specific application result.
      parameters:
      - schema:
          type: string
          pattern: ^\d+$
          description: Application result ID
          example: '1'
        required: true
        description: Application result ID
        in: path
        name: resultId
      - schema:
          type: string
          enum:
          - resume
          - cover-letter
          description: Type of document to download
          example: resume
        required: true
        description: Type of document to download
        name: type
        in: path
      responses:
        '200':
          description: PDF document binary
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: getApplicationsByResultIdDownloadByType
  /applications/{resultId}/submission-info:
    get:
      tags:
      - Applications
      summary: Get Submission Activity Info
      description: 'Get detailed submission activity: screenshots availability, form field log, submission attempts, and activity timeline.'
      parameters:
      - schema:
          type: string
          pattern: ^\d+$
          description: Application result identifier
          example: '1'
        required: true
        description: Application result identifier
        in: path
        name: resultId
      responses:
        '200':
          description: Submission activity details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreenshotInfoResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: getApplicationsByResultIdSubmissionInfo
  /applications/{resultId}/generate-outreach:
    post:
      tags:
      - Applications
      summary: Generate Recruiter Outreach Messages
      description: Generate personalized LinkedIn connection requests, follow-up messages, and cold emails for a specific application result.
      parameters:
      - schema:
          type: string
          pattern: ^\d+$
          description: Application result identifier
          example: '1'
        required: true
        description: Application result identifier
        in: path
        name: resultId
      responses:
        '200':
          description: Outreach messages generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateOutreachResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: postApplicationsByResultIdGenerateOutreach
  /applications/{resultId}/refine:
    post:
      tags:
      - Applications
      summary: Refine Application Document
      description: Regenerate a tailored resume or cover letter with custom user instructions.
      parameters:
      - schema:
          type: string
          pattern: ^\d+$
          description: Application result identifier
          example: '1'
        required: true
        description: Application result identifier
        in: path
        name: resultId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefineDocumentRequest'
      responses:
        '200':
          description: Document refinement started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefineDocumentResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: postApplicationsByResultIdRefine
  /applications/{resultId}/document:
    patch:
      tags:
      - Applications
      summary: Apply Document Patch
      description: Persist a chat-edited tailored resume or cover letter and regenerate its PDF.
      parameters:
      - schema:
          type: string
          pattern: ^\d+$
          description: Application result identifier
          example: '1'
        required: true
        description: Application result identifier
        in: path
        name: resultId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplyDocumentPatchRequest'
      responses:
        '200':
          description: Patch applied and PDF regenerated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyDocumentPatchResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: patchApplicationsByResultIdDocument
  /applications/{resultId}/parse-tailored-resume:
    post:
      tags:
      - Applications
      summary: Parse Tailored Resume Markdown
      description: Parse the application's tailored resume markdown into structured ResumeBlockEditor-shaped data so the Refine-with-AI modal can render the live ResumeTemplate preview and Form view from the same source the resume-builder uses. Reuses parseResumeAIData (Gemini 2.5 Flash, structured output).
      parameters:
      - schema:
          type: string
          pattern: ^\d+$
          description: Application result identifier
          example: '1'
        required: true
        description: Application result identifier
        in: path
        name: resultId
      responses:
        '200':
          description: Structured resume data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParseTailoredResumeResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: postApplicationsByResultIdParseTailoredResume
  /applications/{resultId}/staleness:
    get:
      tags:
      - Applications
      summary: Get prepared application staleness
      description: Returns whether any prepared step on this application_result is stale relative to the user's current AI settings, and which steps would re-run on /re-prepare.
      parameters:
      - schema:
          type: string
          pattern: ^\d+$
          description: Application result identifier
          example: '1'
        required: true
        description: Application result identifier
        in: path
        name: resultId
      responses:
        '200':
          description: Staleness assessment for the prepared application
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StalenessResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: getApplicationsByResultIdStaleness
  /applications/{resultId}/re-prepare:
    post:
      tags:
      - Applications
      summary: Re-prepare a stale application
      description: Re-runs only the listed prepare steps (or the server-recomputed stale steps when none are provided), preserving the outputs of any step not re-run.
      parameters:
      - schema:
          type: string
          pattern: ^\d+$
          description: Application result identifier
          example: '1'
        required: true
        description: Application result identifier
        in: path
        name: resultId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RePrepareRequest'
      responses:
        '200':
          description: Application re-prepared
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RePrepareResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: postApplicationsByResultIdRePrepare
  /applications/{resultId}/switch-document:
    post:
      tags:
      - Applications
      summary: Switch Bound Document
      description: Swap the bound resume / cover letter on an application result to base, an existing tailored doc, or any user-owned document by id. No AI tokens are consumed.
      parameters:
      - schema:
          type: string
          pattern: ^\d+$
          description: Application result identifier
          example: '1'
        required: true
        description: Application result identifier
        in: path
        name: resultId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SwitchDocumentRequest'
      responses:
        '200':
          description: Bound document switched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwitchDocumentResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: postApplicationsByResultIdSwitchDocument
  /applications/{resultId}/negotiate:
    get:
      tags:
      - Applications
      summary: Get Negotiation Scripts
      description: Returns 3 to 5 offer-specific negotiation scripts for the given application_result. Generates on first call, then serves from KV cache for 7 days. Requires the application to be in the `offered` stage; otherwise responds 422.
      parameters:
      - schema:
          type: string
          pattern: ^\d+$
          description: Application result identifier
          example: '1'
        required: true
        description: Application result identifier
        in: path
        name: resultId
      responses:
        '200':
          description: Negotiation scripts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NegotiationResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: getApplicationsByResultIdNegotiate
    post:
      tags:
      - Applications
      summary: Regenerate Negotiation Scripts
      description: 'Force a fresh AI generation, bypassing the KV cache. When `force: true`, also bypasses the `offered` stage gate so users can prep before the offer drops.'
      parameters:
      - schema:
          type: string
          pattern: ^\d+$
          description: Application result identifier
          example: '1'
        required: true
        description: Application result identifier
        in: path
        name: resultId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NegotiateRegenerateRequest'
      responses:
        '200':
          description: Regenerated negotiation scripts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NegotiationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: postApplicationsByResultIdNegotiate
  /applications/{resultId}/generation-status:
    get:
      tags:
      - Applications
      summary: Get AI Generation Status
      description: Returns the current application stage and the lifecycle status of the interview-prep and negotiation-coach generations for this application result. Read-only - never triggers a paid AI generation. Used by the frontend to poll real status and to decide whether the negotiation gate is unlocked.
      parameters:
      - schema:
          type: string
          pattern: ^\d+$
          description: Application result identifier
          example: '1'
        required: true
        description: Application result identifier
        in: path
        name: resultId
      responses:
        '200':
          description: Generation status snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerationStatusResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: getApplicationsByResultIdGenerationStatus
  /applications/{resultId}/queue-position:
    get:
      tags:
      - Applications
      summary: Get Apply Queue Position
      description: 'Returns this application result''s live position in the platform-wide auto-apply queue: 1-based rank (oldest-first, matching the dispatcher''s `ORDER BY created_at ASC`), how many are ahead, the total queue depth, whether it is already processing, and a rough wait estimate. Read-only - two cheap indexed COUNT reads, never triggers any work. Polled by the client while a row is waiting / retrying / processing.'
      parameters:
      - schema:
          type: string
          pattern: ^\d+$
          description: Application result identifier
          example: '1'
        required: true
        description: Application result identifier
        in: path
        name: resultId
      responses:
        '200':
          description: Live queue-position snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueuePositionResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: getApplicationsByResultIdQueuePosition
  /applications/pipeline-status:
    get:
      tags:
      - Applications
      summary: Get Apply Pipeline Status
      description: 'Returns the caller''s live apply-pipeline snapshot: platform-wide queue depth, how many of the caller''s rows are waiting / processing, and the frontmost platform-wide rank of the caller''s active rows. Read-only - a few cheap indexed COUNT reads, never triggers any work. Polled by the persistent top-of-page pipeline bar on the Applications screen.'
      responses:
        '200':
          description: Live apply-pipeline snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineStatusResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: getApplicationsPipelineStatus
  /applications/{jobId}/level-strategy:
    post:
      tags:
      - Applications
      summary: Generate Level Strategy (Block C)
      description: 'Generate the Block C level strategy for a job/candidate pair. Produces ONE of two parallel plans depending on whether the candidate''s natural level matches/exceeds the JD level ("sell senior") or sits above it ("downlevel play"). Cache-first: served from KV for 7 days unless `force: true`.'
      parameters:
      - schema:
          type: string
          pattern: ^\d+$
          description: Job listing identifier
          example: '1'
        required: true
        description: Job listing identifier
        in: path
        name: jobId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LevelStrategyRequest'
      responses:
        '200':
          description: Level strategy data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LevelStrategyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: postApplicationsByJobIdLevelStrategy
  /applications/personalization-plan:
    post:
      tags:
      - Applications
      summary: Generate Personalization Plan
      description: Block E of the structured evaluation. Returns the top 5 CV changes + top 5 LinkedIn changes scoped to the job match's archetype, plus 8-15 ATS keywords from the JD. Requires the upstream evaluator (Block A) to have classified the archetype on the job match row; otherwise responds 400.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonalizationPlanRequest'
      responses:
        '200':
          description: Personalization plan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalizationPlanResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: postApplicationsPersonalizationPlan
  /applications/recover-stuck:
    post:
      tags:
      - Applications
      summary: Recover Stuck Applications
      description: Trigger on-demand recovery of stuck applications for the current user. Marks timed-out preparations as failed.
      responses:
        '200':
          description: Recovery complete
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecoverStuckResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: postApplicationsRecoverStuck
  /applications/{resultId}/ai-edit/open:
    post:
      tags:
      - Applications
      summary: Open AI Edit Session
      description: Snapshot the application's currently-bound resume into a KV-backed draft. Returns a fresh sessionId per call. Draft TTL is 60 minutes from the last mutation.
      parameters:
      - schema:
          type: string
          pattern: ^\d+$
          description: Application result identifier
          example: '1'
        required: true
        description: Application result identifier
        in: path
        name: resultId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiEditOpenRequest'
      responses:
        '200':
          description: Session opened with snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiEditOpenResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: postApplicationsByResultIdAiEditOpen
  /applications/{resultId}/ai-edit/rewind:
    post:
      tags:
      - Applications
      summary: Rewind AI Edit Session
      description: Drop every step with messageIdx >= the supplied value. The draft is restored from the snapshot taken just before the cut.
      parameters:
      - schema:
          type: string
          pattern: ^\d+$
          description: Application result identifier
          example: '1'
        required: true
        description: Application result identifier
        in: path
        name: resultId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiEditRewindRequest'
      responses:
        '200':
          description: Draft rewound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiEditRewindResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: postApplicationsByResultIdAiEditRewind
  /applications/{resultId}/ai-edit/finalize:
    post:
      tags:
      - Applications
      summary: Finalize AI Edit Session
      description: Atomically create a new user_documents row from the draft, point the application result's tailoredResumeDocId at it, and delete the KV draft.
      parameters:
      - schema:
          type: string
          pattern: ^\d+$
          description: Application result identifier
          example: '1'
        required: true
        description: Application result identifier
        in: path
        name: resultId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AiEditFinalizeRequest'
      responses:
        '200':
          description: Draft finalized and bound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiEditFinalizeResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: postApplicationsByResultIdAiEditFinalize
  /applications/{resultId}/ai-edit/preview:
    get:
      tags:
      - Applications
      summary: Preview AI Edit Draft
      description: Render the current draft as a PDF. Template is forced to ATS-optimized.
      parameters:
      - schema:
          type: string
          pattern: ^\d+$
          description: Application result identifier
          example: '1'
        required: true
        description: Application result identifier
        in: path
        name: resultId
      - schema:
          type: string
          minLength: 1
          maxLength: 64
        required: true
        name: sessionId
        in: query
      responses:
        '200':
          description: Draft PDF
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: getApplicationsByResultIdAiEditPreview
  /applications/{resultId}/ai-edit/available-scopes:
    get:
      tags:
      - Applications
      summary: List AI Edit Scopes Available For This Application
      description: Returns one entry per AiEditScope, telling the UI which are pickable for this application (e.g. cover_letter is unavailable when none has been generated).
      parameters:
      - schema:
          type: string
          pattern: ^\d+$
          description: Application result identifier
          example: '1'
        required: true
        description: Application result identifier
        in: path
        name: resultId
      responses:
        '200':
          description: Per-scope availability map
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiEditAvailableScopesResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: getApplicationsByResultIdAiEditAvailableScopes
  /applications/{resultId}/ats-credentials:
    get:
      tags:
      - Applications
      summary: List Manufactured ATS Accounts
      description: List the candidate accounts AI Applyd created on the user's behalf for this application (auth-walled ATS lane). Never returns passwords.
      parameters:
      - schema:
          type: string
          pattern: ^\d+$
          description: Application result identifier
          example: '1'
        required: true
        description: Application result identifier
        in: path
        name: resultId
      responses:
        '200':
          description: Manufactured ATS accounts for the application
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      credentials:
                        type: array
                        items:
                          $ref: '#/components/schemas/AtsCredentialSummary'
                    required:
                    - credentials
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/ResponseMetadata'
                  success:
                    type: boolean
                    enum:
                    - true
                required:
                - data
                - success
                additionalProperties: false
                description: Successful API response
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: getApplicationsByResultIdAtsCredentials
  /applications/{resultId}/ats-credentials/{credentialId}/reveal:
    post:
      tags:
      - Applications
      summary: Reveal Manufactured ATS Account Password
      description: Decrypt + return the password of a manufactured ATS account. The reveal is recorded in the audit log.
      parameters:
      - schema:
          type: string
          pattern: ^\d+$
          description: Manufactured ATS credential identifier
          example: '1'
        required: true
        description: Manufactured ATS credential identifier
        in: path
        name: credentialId
      - schema:
          type: string
          pattern: ^\d+$
          description: Application result identifier
          example: '1'
        required: true
        description: Application result identifier
        in: path
        name: resultId
      responses:
        '200':
          description: Decrypted credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      loginUrl:
                        type:
                        - string
                        - 'null'
                      password:
                        type: string
                        description: Decrypted account password (audit-logged on reveal)
                      platform:
                        type: string
                      username:
                        type: string
                    required:
                    - loginUrl
                    - password
                    - platform
                    - username
                    additionalProperties: false
                  meta:
                    $ref: '#/components/schemas/ResponseMetadata'
                  success:
                    type: boolean
                    enum:
                    - true
                required:
                - data
                - success
                additionalProperties: false
                description: Successful API response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: postApplicationsByResultIdAtsCredentialsByCredentialIdReveal
components:
  schemas:
    ContactTypeMessage:
      type: object
      properties:
        linkedinNote:
          type: string
          maxLength: 300
          description: LinkedIn note tailored to this audience (max 300 chars)
        emailSubject:
          type: string
          description: Email subject line for this audience
        emailBody:
          type: string
          description: Email body for this audience
      required:
      - linkedinNote
      - emailSubject
      - emailBody
      additionalProperties: false
      description: 'Recruiter outreach: Fit / Proof / "Happy to share my CV"'
    GenerateOutreachResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/OutreachMessagesData'
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - true
      required:
      - data
      - success
      additionalProperties: false
      description: Successful API response
    RePrepareResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/RePrepareResponseData'
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - true
      required:
      - data
      - success
      additionalProperties: false
      description: Successful API response
    ApplyDocumentPatchResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: integer
            documentType:
              type: string
              enum:
              - resume
              - cover-letter
              description: Type of PDF document to download
              example: resume
            content:
              type: string
              description: The normalized final content that was persisted and used to regenerate the PDF
            structuredResume:
              type:
              - object
              - 'null'
              properties:
                certifications:
                  type: array
                  items:
                    type: string
                education:
                  type: array
                  items:
                    $ref: '#/components/schemas/EducationEntry'
                experience:
                  type: array
                  items:
                    $ref: '#/components/schemas/ExperienceEntry'
                personalInfo:
                  $ref: '#/components/schemas/PersonalInfo'
                skills:
                  type: array
                  items:
                    type: string
                summary:
                  type:
                  - string
                  - 'null'
              additionalProperties: false
              description: The stored structured tailored-resume snapshot after canonical relay-email enforcement.
          required:
          - id
          - documentType
          - content
          additionalProperties: false
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - true
      required:
      - data
      - success
      additionalProperties: false
      description: Successful API response
    RefineDocumentRequest:
      type: object
      properties:
        documentType:
          type: string
          enum:
          - resume
          - cover-letter
          description: 'Which document to refine: resume or coverLetter'
          example: resume
        userInstructions:
          type: string
          minLength: 1
          maxLength: 2000
          description: Custom instructions for the AI to refine the document
          example: Emphasize my React and TypeScript experience more. Remove the reference to Python.
      required:
      - documentType
      - userInstructions
      additionalProperties: false
    RePrepareRequest:
      type: object
      properties:
        steps:
          type: array
          items:
            type: string
            enum:
            - quality_gate
            - company_intel
            - tailor_resume
            - translate
            - cover_letter
            description: A single preparation step within the application-preparer pipeline
            example: tailor_resume
          maxItems: 5
          description: Explicit prepare steps to re-run. Omit to use the server-computed stale steps.
          example:
          - tailor_resume
          - cover_letter
      additionalProperties: false
      description: Re-prepare request body.
    NegotiationResponseData:
      type: object
      properties:
        cached:
          type: boolean
          description: True when the response was served from KV cache or the persisted column
          example: false
        status:
          type: string
          enum:
          - idle
          - generating
          - completed
          - failed
          description: 'Generation lifecycle status: `completed` on success, `failed` when the last run failed (manual Retry)'
          example: completed
        generatedAt:
          type:
          - string
          - 'null'
          format: date-time
          description: ISO-8601 timestamp when the scripts were generated. Null on legacy cached payloads.
          example: '2026-05-07T12:34:56.000Z'
        offerContext:
          $ref: '#/components/schemas/NegotiationOfferContext'
        scripts:
          type: array
          items:
            $ref: '#/components/schemas/NegotiationScript'
          maxItems: 5
          description: 0 to 5 offer-specific negotiation scripts (empty when status is `failed`)
      required:
      - cached
      - status
      - generatedAt
      - offerContext
      - scripts
      additionalProperties: false
    ApplicationResultItemResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ApplicationResultData'
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - true
      required:
      - data
      - success
      additionalProperties: false
      description: Successful API response
    LiveViewData:
      type: object
      properties:
        available:
          type: boolean
          description: False when the run has no browser session attached yet, or - on self-hosted Steel - when the caller is not an admin (the box admits admin sessions only). `reason` carries the cause.
        debuggerFullscreenUrl:
          type:
          - string
          - 'null'
          format: uri
          description: 'Viewer URL safe to embed in an iframe / open in a tab. Null when `available` is false. NEVER carries a credential: the self-hosted box authenticates the admin''s own session cookie.'
        reason:
          type:
          - string
          - 'null'
          description: Why no viewer URL could be resolved. Null when `available` is true. Never a fabricated URL - an unresolvable viewer is reported as an absence with its cause.
        sessionId:
          type:
          - string
          - 'null'
          description: Underlying Browserbase session id (mirrors application_result.submissionActorRunId).
      required:
      - available
      - debuggerFullscreenUrl
      - reason
      - sessionId
      additionalProperties: false
    ParsedTailoredResumeEducation:
      type: object
      properties:
        degree:
          type: string
        endDate:
          type:
          - string
          - 'null'
        gpa:
          type:
          - string
          - 'null'
        highlights:
          type:
          - array
          - 'null'
          items:
            type: string
        institution:
          type: string
        location:
          type:
          - string
          - 'null'
        startDate:
          type:
          - string
          - 'null'
      required:
      - degree
      - institution
      additionalProperties: false
    SuggestedContact:
      type: object
      properties:
        role:
          type: string
          description: Contact role (e.g. Hiring Manager, Recruiter)
          example: Hiring Manager
        searchUrl:
          type: string
          description: LinkedIn search URL to find this contact
          example: https://linkedin.com/search/results/people/?keywords=...
        emailPattern:
          type: string
          description: Guessed email pattern for the company
          example: first.last@company.com
      required:
      - role
      - searchUrl
      - emailPattern
      additionalProperties: false
    NegotiationOfferContext:
      type:
      - object
      - 'null'
      properties:
        company:
          type: string
          minLength: 1
          maxLength: 200
          description: Company name the offer is from
          example: Acme Corp
        jobTitle:
          type: string
          minLength: 1
          maxLength: 200
          description: Job title of the offered role
          example: Senior Software Engineer
        marketRangeCurrency:
          type:
          - string
          - 'null'
          minLength: 1
          maxLength: 8
          description: ISO currency code for the market range anchors. Null when no market data was available.
          example: USD
        marketRangeHigh:
          type:
          - number
          - 'null'
          description: High end of the comp-intelligence market range, when known. Null otherwise.
        marketRangeLow:
          type:
          - number
          - 'null'
          description: Low end of the comp-intelligence market range, when known. Null otherwise.
      required:
      - company
      - jobTitle
      - marketRangeCurrency
      - marketRangeHigh
      - marketRangeLow
      additionalProperties: false
      description: Snapshot of the offer the scripts were drafted for. Null on legacy cached payloads.
    AiEditRewindRequest:
      type: object
      properties:
        messageIdx:
          type: integer
          minimum: 0
          description: Drop every step with messageIdx >= this value. messageIdx=0 wipes the session back to originalContent.
          example: 2
        sessionId:
          type: string
          minLength: 1
          maxLength: 64
      required:
      - messageIdx
      - sessionId
      additionalProperties: false
    NegotiationScript:
      type: object
      properties:
        followUpResponses:
          type: array
          items:
            $ref: '#/components/schemas/NegotiationFollowUpResponse'
          minItems: 2
          maxItems: 4
          description: 2 to 4 follow-up replies covering common recruiter pushbacks
        scenario:
          type: string
          minLength: 1
          maxLength: 80
          description: Negotiation playbook scenario (e.g. state_expectations, signing_bonus_request). Free-form so an off-enum label never discards a valid generation.
          example: state_expectations
        script:
          type: string
          minLength: 1
          maxLength: 4000
          description: Ready-to-paste message in first person, 60 to 180 words
        situation:
          type: string
          minLength: 1
          maxLength: 600
          description: Short description of when the user would use this script
      required:
      - followUpResponses
      - scenario
      - script
      - situation
      additionalProperties: false
    DownlevelPlan:
      type:
      - object
      - 'null'
      properties:
        acceptanceCriteria:
          $ref: '#/components/schemas/DownlevelAcceptanceCriteria'
        promotionCriteria:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 280
          minItems: 3
          maxItems: 5
          description: 3 to 5 clear, measurable promotion criteria to negotiate up front. Each must be a concrete observable, not a vague behavior.
        walkawayConditions:
          type: array
          items:
            type: string
            minLength: 1
            maxLength: 280
          minItems: 2
          maxItems: 3
          description: 2 to 3 hard conditions under which the candidate should decline the offer outright.
      required:
      - acceptanceCriteria
      - promotionCriteria
      - walkawayConditions
      additionalProperties: false
      description: Non-null only when direction == 'downlevel'.
    PersonalizationPlanRequest:
      type: object
      properties:
        jobMatchId:
          type: integer
          description: job_matches.id the plan is scoped to
          example: 1
          exclusiveMinimum: 0
      required:
      - jobMatchId
      additionalProperties: false
    ParsedTailoredResumeExperience:
      type: object
      properties:
        bullets:
          type: array
          items:
            type: string
        company:
          type: string
        current:
          type:
          - boolean
          - 'null'
        endDate:
          type:
          - string
          - 'null'
        location:
          type:
          - string
          - 'null'
        startDate:
          type: string
        title:
          type: string
      required:
      - bullets
      - company
      - startDate
      - title
      additionalProperties: false
    PersonalizationPlanResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/PersonalizationPlanData'
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - true
      required:
      - data
      - success
      additionalProperties: false
      description: Successful API response
    RefineDocumentResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: integer
            documentType:
              type: string
              enum:
              - resume
              - cover-letter
              description: Type of PDF document to download
              example: resume
            status:
              type: string
              enum:
              - refining
              - ready
              description: Status of a document refinement operation
              example: ready
            refinedContent:
              type: string
              description: The refined document content (markdown) after applying user instructions
          required:
          - id
          - documentType
          - status
          - refinedContent
          additionalProperties: false
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - true
      required:
      - data
      - success
      additionalProperties: false
      description: Successful API response
    BulkApproveResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/BulkApproveResultEntry'
            totalAttempted:
              type: integer
              minimum: 0
            totalApproved:
              type: integer
              minimum: 0
            failedResultIds:
              type: array
              items:
                type: string
              description: Result IDs that failed in this batch (subset of `resultIds` from the request). Empty array when every row succeeded.
          required:
          - results
          - totalAttempted
          - totalApproved
          - failedResultIds
          additionalProperties: false
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - true
      required:
      - data
      - success
      additionalProperties: false
      description: Successful API response
    CancelResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/CancelResultData'
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - true
      required:
      - data
      - success
      additionalProperties: false
      description: Successful API response
    ExtractFormField:
      type: object
      properties:
        field:
          type: string
          maxLength: 500
        value:
          type: string
          maxLength: 10000
        selector:
          type:
          - string
          - 'null'
          maxLength: 2000
        action:
          type: string
          maxLength: 100
      required:
      - field
      - value
      - selector
      - action
      additionalProperties: false
    AiEditAvailableScopesResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            scopes:
              type: array
              items:
                $ref: '#/components/schemas/AiEditAvailableScope'
          required:
          - scopes
          additionalProperties: false
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - true
      required:
      - data
      - success
      additionalProperties: false
      description: Successful API response
    ScreenshotInfoResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ScreenshotInfoData'
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - true
      required:
      - data
      - success
      additionalProperties: false
      description: Successful API response
    RePrepareResponseData:
      type: object
      properties:
        id:
          type: integer
        stepsRun:
          type: array
          items:
            type: string
            enum:
            - quality_gate
            - company_intel
            - tailor_resume
            - translate
            - cover_letter
            description: A single preparation step within the application-preparer pipeline
            example: tailor_resume
        stepsSkipped:
          type: array
          items:
            type: object
            properties:
              reason:
                type: string
              step:
                type: string
                enum:
                - quality_gate
                - company_intel
                - tailor_resume
                - translate
                - cover_letter
                description: A single preparation step within the application-preparer pipeline
                example: tailor_resume
            required:
            - reason
            - step
            additionalProperties: false
            description: A step the server will skip on the next re-prepare run, with a human-readable reason.
        tokensUsed:
          type: integer
          minimum: 0
      required:
      - id
      - stepsRun
      - stepsSkipped
      - tokensUsed
      additionalProperties: false
    BulkApproveRequest:
      type: object
      properties:
        resultIds:
          type: array
          items:
            type: string
            minLength: 1
          minItems: 1
          maxItems: 25
          description: Result IDs to approve in this batch (1 to 25). String-encoded numeric IDs matching the single-row endpoint's URL param shape. Each is approved server-side independently; per-row failures do not abort the batch.
          example:
          - '101'
          - '102'
          - '103'
      required:
      - resultIds
      additionalProperties: false
    SingleResultResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/SingleResultData'
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - true
      required:
      - data
      - success
      additionalProperties: false
      description: Successful API response
    SwitchDocumentResponseData:
      type: object
      properties:
        documentId:
          type:
          - integer
          - 'null'
        id:
          type: integer
        kind:
          type: string
          enum:
          - resume
          - cover_letter
          description: Which bound document to swap on the application result.
          example: resume
        target:
          type: string
          enum:
          - base
          - tailored
          - document_id
          description: Where to point the bound document. "base" picks the user's base resume/cover-letter; "tailored" keeps the existing tailored doc; "document_id" requires `documentId` and binds to a user-owned document by id.
          example: base
      required:
      - documentId
      - id
      - kind
      - target
      additionalProperties: false
    LevelStrategyResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/LevelStrategyResponseData'
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - true
      required:
      - data
      - success
      additionalProperties: false
      description: Successful API response
    SwitchDocumentRequest:
      type: object
      properties:
        kind:
          type: string
          enum:
          - resume
          - cover_letter
          description: Which bound document to swap on the application result.
          example: resume
        target:
          type: string
          enum:
          - base
          - tailored
          - document_id
          description: Where to point the bound document. "base" picks the user's base resume/cover-letter; "tailored" keeps the existing tailored doc; "document_id" requires `documentId` and binds to a user-owned document by id.
          example: base
        documentId:
          type: integer
          description: Required when target is "document_id"  -  must reference a user-owned document of the matching type.
          example: 42
          exclusiveMinimum: 0
      required:
      - kind
      - target
      additionalProperties: false
    PrepareApplicationResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/PrepareApplicationData'
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - true
      required:
      - data
      - success
      additionalProperties: false
      description: Successful API response
    QueuePositionResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/QueuePositionData'
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - true
      required:
      - data
      - success
      additionalProperties: false
      description: Successful API response
    OutreachMessagesData:
      type: object
      properties:
        linkedinConnectionRequest:
          type: string
          description: LinkedIn connection request message (max 300 chars)
        linkedinFollowUp:
          type: string
          description: Follow-up message after connection accepted
        coldEmail:
          type: object
          properties:
            subject:
              type: string
              description: Email subject line
            body:
              type: string
              description: Email body text
          required:
          - subject
          - body
          additionalProperties: false
          description: Cold email to hiring manager
        suggestedContacts:
          type: array
          items:
            $ref: '#/components/schemas/SuggestedContact'
          description: Suggested contacts to reach out to
        byContactType:
          type:
          - object
          - 'null'
          properties:
            recruiter:
              $ref: '#/components/schemas/ContactTypeMessage'
            hiring_manager:
              allOf:
              - $ref: '#/components/schemas/ContactTypeMessage'
              - description: 'Hiring manager outreach: Hook / Proof / conversation invite'
            peer:
              allOf:
              - $ref: '#/components/schemas/ContactTypeMessage'
              - description: 'Peer / referral angle: Interest / Connection / "Would love your take"'
            interviewer:
              allOf:
              - $ref: '#/components/schemas/ContactTypeMessage'
              - description: 'Pre-interview prep: Research / Context / "Looking forward to [date]"'
          required:
          - recruiter
          - hiring_manager
          - peer
          - interviewer
          additionalProperties: false
          description: Per-audience outreach messages keyed by contact type. Null when AI did not emit per-audience variants.
      required:
      - linkedinConnectionRequest
      - linkedinFollowUp
      - coldEmail
      - suggestedContacts
      additionalProperties: false
    PersonalInfo:
      type: object
      properties:
        email:
          anyOf:
          - type: string
            format: email
          - type: string
            enum:
            - ''
          - {}
          example: name@example.com
        fullName:
          type:
          - string
          - 'null'
          example: Ada Lovelace
        linkedin:
          type:
          - string
          - 'null'
        location:
          type:
          - string
          - 'null'
          example: San Francisco, CA
        phone:
          type:
          - string
          - 'null'
          example: +1 (555) 123-4567
        title:
          type:
          - string
          - 'null'
          example: Senior Software Engineer
        website:
          type:
          - string
          - 'null'
      additionalProperties: false
    ExtractFormData:
      type: object
      properties:
        formFields:
          type: array
          items:
            $ref: '#/components/schemas/ExtractFormField'
        screeningAnswers:
          type: array
          items:
            $ref: '#/components/schemas/ExtractFormScreeningAnswer'
      required:
      - formFields
      - screeningAnswers
      additionalProperties: false
    SingleResultData:
      type: object
      properties:
        applicationStage:
          type:
          - string
          - 'null'
          enum:
          - applied
          - callback
          - phone_screen
          - interview
          - offered
          - rejected
          - no_response
          - null
          description: Stage of the job application pipeline
          example: applied
        appliedAt:
          type:
          - string
          - 'null'
        applyMode:
          type:
          - string
          - 'null'
          enum:
          - copilot
          - auto_approve
          - null
          description: 'What the user asked for on this job, recorded at ingress and never rewritten: auto_approve (we submit) or copilot (they review first). NULL on legacy rows. Read this in preference to `status` when deciding whether a row is waiting on the user - `status` is mutated by recovery lanes.'
          example: auto_approve
        submittingStartedAt:
          type:
          - string
          - 'null'
          description: When a browser actually began this run (application_result.submitting_started_at). NULL means the row is dispatched but no browser has claimed it yet — never read preparation_status=submitting as a run having started.
          example: '2026-08-08T20:10:31.000Z'
        autoRetryStopped:
          type: boolean
          description: True when no automatic lane will ever retry this application again (submit evidence, spent retry budget, an unowned terminal error code, hourly browser cap, cancelled, an unwatched pending_review, or an orphaned job match). False whenever any lane could still claim the row or it cannot be evaluated.
          example: false
        autoRetryStoppedReason:
          type:
          - string
          - 'null'
          enum:
          - submit_evidence
          - attempts_spent
          - not_retryable
          - cancelled
          - needs_review
          - orphaned
          - null
          description: Which permanent-abandonment lane stopped this row (submit_evidence / attempts_spent / not_retryable / cancelled / needs_review / orphaned). Null when the row is not stopped OR could not be evaluated - never render null as "still going".
          example: null
        nextAutoRetryAt:
          type:
          - string
          - 'null'
          description: Earliest ISO timestamp an automatic attempt can re-claim this row, from the hourly stuck-sweep selection rounded up to the next cron tick. A floor, not a guarantee. Null means we are not naming a time - NOT that no retry exists.
          example: null
        updatedAt:
          type:
          - string
          - 'null'
        submitEvidenceTier:
          type: string
          enum:
          - other_side_confirmed
          - our_click_only
          - no_submit_evidence
          description: 'Whose observation backs this row: other_side_confirmed (the employer produced a receipt), our_click_only (we clicked Submit but could not read a receipt - an absence, never proof it landed), or no_submit_evidence (we never clicked).'
          example: no_submit_evidence
        employerReceiptConfirmed:
          type: boolean
          description: Receipt proof from the employer exists for this application. Screenshot or confirmation-page proof is represented separately in landingProofs. Outranks our own status.
          example: false
        landingProofs:
          type: array
          items:
            type: string
            enum:
            - receipt
            - screenshot
            description: Who authored the evidence that this application reached the employer. `receipt` = the employer emailed a confirmation linked to this row. `screenshot` = a review of the stored post-submit screenshot read the employer's OWN confirmation page. Both are the other side's answer and both count as a proven landing; a row may hold either or both.
            example: screenshot
          description: 'Employer-authored proof this application landed: `receipt` (their confirmation email, linked) and/or `screenshot` (a review read their own confirmation page). Empty = no such proof, which is NOT a failure.'
          example:
          - screenshot
        statusDisplay:
          anyOf:
          - type: object
            properties:
              label:
                type: string
                minLength: 1
                description: Legacy English badge text for rolling compatibility. V2 clients localize from code and params instead of rendering this field.
                example: Trying again shortly · pass 3 of 4
              noCreditUsed:
                type: boolean
                description: True only when no billable AI or browser work ran for this row (the skipped short-circuits). An errored apply is never "free".
                example: false
              pendingRetryAt:
                type:
                - string
                - 'null'
                format: date-time
[...]
