openapi: 3.2.0
info:
  contact:
    email: support@aiapplyd.com
    name: AI Applyd
    url: https://aiapplyd.com
  description: 'The AI Applyd API runs the whole job hunt for you: it matches you to roles that fit your profile, rewrites your resume for each posting, writes the cover letter the form asks for, and auto-applies across the major applicant tracking systems.'
  license:
    name: Proprietary
    url: https://aiapplyd.com/legal/terms
  title: AI Applyd Email Preferences API
  version: 115c47ce
servers:
- description: Current environment
  url: https://api.aiapplyd.com/api/v1
security:
- BearerAuth: []
tags:
- name: email-preferences
paths:
  /email-preferences:
    get:
      tags:
      - email-preferences
      summary: Get Email Preferences
      description: Get the authenticated user's email subscription preferences.
      responses:
        '200':
          description: Email preferences retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailPreferencesResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: getEmailPreferences
    put:
      tags:
      - email-preferences
      summary: Update Email Preferences
      description: Update the authenticated user's email subscription preferences.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEmailPreferences'
      responses:
        '200':
          description: Email preferences updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailPreferencesUpdatedResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: putEmailPreferences
  /email-preferences/by-token:
    get:
      tags:
      - email-preferences
      summary: Get Email Preferences by Token
      description: Get email preferences using a signed token (public, no auth required).
      parameters:
      - schema:
          type: string
          minLength: 1
          description: Signed email preferences token
          example: eyJ1c2VySWQ...
        required: true
        description: Signed email preferences token
        name: token
        in: query
      responses:
        '200':
          description: Email preferences retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailPreferencesResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: getEmailPreferencesByToken
    put:
      tags:
      - email-preferences
      summary: Update Email Preferences by Token
      description: Update email preferences using a signed token (public, no auth required).
      parameters:
      - schema:
          type: string
          minLength: 1
          description: Signed email preferences token
          example: eyJ1c2VySWQ...
        required: true
        description: Signed email preferences token
        name: token
        in: query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEmailPreferences'
      responses:
        '200':
          description: Email preferences updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailPreferencesUpdatedResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: putEmailPreferencesByToken
  /email-preferences/one-click:
    post:
      tags:
      - email-preferences
      summary: One-Click Unsubscribe
      description: RFC 8058 one-click unsubscribe endpoint. Receives List-Unsubscribe=One-Click in form body.
      parameters:
      - schema:
          type: string
          minLength: 1
          description: Signed email preferences token
          example: eyJ1c2VySWQ...
        required: true
        description: Signed email preferences token
        name: token
        in: query
      responses:
        '200':
          description: Successfully unsubscribed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OneClickUnsubscribeResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
      operationId: postEmailPreferencesOneClick
components:
  schemas:
    EmailPreferencesUpdatedResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/EmailPreferencesData'
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - true
      required:
      - data
      - success
      additionalProperties: false
      description: Successful API response
    UpdateEmailPreferences:
      type: object
      properties:
        notifyLocationFulfilled:
          type: boolean
          description: Receive alerts when a requested location starts showing jobs
          example: true
        notifyRoleFulfilled:
          type: boolean
          description: Receive alerts when a suggested role is added to the platform
          example: true
        onboarding:
          type: boolean
          description: Receive onboarding and tips emails
          example: true
        productUpdates:
          type: boolean
          description: Receive product update emails
          example: true
        reEngagement:
          type: boolean
          description: Receive re-engagement emails
          example: true
        unsubscribeAll:
          type: boolean
          description: Unsubscribe from all marketing emails
          example: false
        weeklyRecap:
          type: boolean
          description: Receive the weekly recap of your matches and applications
          example: true
      additionalProperties: false
    EmailPreferencesData:
      type: object
      properties:
        notifyLocationFulfilled:
          type: boolean
          description: Receive alerts when a requested location starts showing jobs
          example: true
        notifyRoleFulfilled:
          type: boolean
          description: Receive alerts when a suggested role is added to the platform
          example: true
        onboarding:
          type: boolean
          description: Receive onboarding and tips emails
          example: true
        productUpdates:
          type: boolean
          description: Receive product update emails
          example: true
        reEngagement:
          type: boolean
          description: Receive re-engagement emails
          example: true
        unsubscribeAll:
          type: boolean
          description: Unsubscribe from all marketing emails
          example: false
        weeklyRecap:
          type: boolean
          description: Receive the weekly recap of your matches and applications
          example: true
        email:
          type: string
          format: email
          description: User email address
          example: user@example.com
      required:
      - notifyLocationFulfilled
      - notifyRoleFulfilled
      - onboarding
      - productUpdates
      - reEngagement
      - unsubscribeAll
      - weeklyRecap
      - email
      additionalProperties: false
    EmailPreferencesResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/EmailPreferencesData'
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - true
      required:
      - data
      - success
      additionalProperties: false
      description: Successful API response
    ResponseMetadata:
      type: object
      properties:
        duration:
          type: number
          description: Request duration in milliseconds
          example: 150
          exclusiveMinimum: 0
        performance:
          type: object
          properties:
            dbQueries:
              type: integer
              minimum: 0
            totalDbTime:
              type: number
              minimum: 0
          description: Performance metrics (preview/local only)
        requestId:
          type: string
          description: Unique request identifier
          example: req_abc123
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 timestamp
          example: '2026-09-25T17:29:47.224Z'
        version:
          type: string
          description: API version
          example: v1
    ApiErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            context:
              oneOf:
              - type: object
                properties:
                  errorType:
                    type: string
                    enum:
                    - validation
                  field:
                    type: string
                  fieldErrors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        expected:
                          type: string
                        field:
                          type: string
                        message:
                          type: string
                        received:
                          type: string
                      required:
                      - field
                      - message
                  schemaName:
                    type: string
                required:
                - errorType
              - type: object
                properties:
                  attemptedEmail:
                    type: string
                    format: email
                  errorType:
                    type: string
                    enum:
                    - authentication
                  failureReason:
                    type: string
                    enum:
                    - invalid_credentials
                    - account_locked
                    - expired_token
                    - token_expired
                    - missing_token
                    - invalid_token
                    - session_expired
                    description: Reason for authentication failure
                    example: token_expired
                  ipAddress:
                    type: string
                  operation:
                    type: string
                  service:
                    type: string
                  userAgent:
                    type: string
                required:
                - errorType
              - type: object
                properties:
                  actualPermission:
                    type: string
                  errorType:
                    type: string
                    enum:
                    - authorization
                  requiredPermission:
                    type: string
                  resource:
                    type: string
                  resourceId:
                    type: string
                  userId:
                    type: string
                required:
                - errorType
              - type: object
                properties:
                  constraint:
                    type: string
                  errorType:
                    type: string
                    enum:
                    - database
                  operation:
                    type: string
                    enum:
                    - insert
                    - update
                    - delete
                    - select
                    - batch
                    - transaction
                    - migration
                    description: Type of database operation
                    example: select
                  resourceId:
                    type: string
                  sqlState:
                    type: string
                  table:
                    type: string
                  userId:
                    type: string
                required:
                - errorType
              - type: object
                properties:
                  endpoint:
                    type: string
                  errorType:
                    type: string
                    enum:
                    - external_service
                  httpStatus:
                    type: number
                  operation:
                    type: string
                  resourceId:
                    type: string
                  responseTime:
                    type: number
                  retryAttempt:
                    type: integer
                  service:
                    type: string
                  serviceName:
                    type: string
                  userId:
                    type: string
                required:
                - errorType
              - type: object
                properties:
                  errorType:
                    type: string
                    enum:
                    - resource
                  resource:
                    type: string
                  resourceId:
                    type: string
                  service:
                    type: string
                  userId:
                    type: string
                required:
                - errorType
              - type: object
                properties:
                  errorType:
                    type: string
                    enum:
                    - rate_limit
                  limit:
                    type: number
                  resetTime:
                    type: string
                  windowMs:
                    type: number
                required:
                - errorType
              - type: object
                properties:
                  configKey:
                    type: string
                  errorType:
                    type: string
                    enum:
                    - configuration
                  operation:
                    type: string
                  service:
                    type: string
                required:
                - errorType
              description: Type-safe error context information
              example:
                errorType: validation
                fieldErrors:
                - field: email
                  message: Invalid email format
            details:
              oneOf:
              - type: object
                properties:
                  detailType:
                    type: string
                    enum:
                    - validation
                  validationErrors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        field:
                          type: string
                        message:
                          type: string
                      required:
                      - field
                      - message
                required:
                - detailType
                - validationErrors
                additionalProperties: false
              - type: object
                properties:
                  detailType:
                    type: string
                    enum:
                    - service_error
                  originalError:
                    type: string
                  serviceName:
                    type: string
                required:
                - detailType
                - serviceName
                additionalProperties: false
              - type: object
                properties:
                  currentSize:
                    type: number
                  detailType:
                    type: string
                    enum:
                    - batch
                  originalError:
                    type: string
                  statementCount:
                    type: number
                required:
                - detailType
                additionalProperties: false
              - type: object
                properties:
                  detailType:
                    type: string
                    enum:
                    - rate_limit
                  limit:
                    type: number
                  resetTime:
                    type: string
                  windowMs:
                    type: number
                required:
                - detailType
                - limit
                - resetTime
                - windowMs
                additionalProperties: false
              - type: object
                properties:
                  conflictingField:
                    type: string
                  detailType:
                    type: string
                    enum:
                    - resource
                  resourceId:
                    anyOf:
                    - type: string
                    - type: number
                  resourceType:
                    type: string
                required:
                - detailType
                additionalProperties: false
              - type: object
                properties:
                  detailType:
                    type: string
                    enum:
                    - generic
                  info:
                    type: string
                required:
                - detailType
                additionalProperties: false
              - type: object
                properties:
                  currentTokens:
                    type: integer
                    minimum: 0
                  detailType:
                    type: string
                    enum:
                    - insufficient_tokens
                  requiredTokens:
                    type: integer
                    minimum: 0
                required:
                - currentTokens
                - detailType
                - requiredTokens
                additionalProperties: false
            message:
              type: string
            validation:
              type: array
              items:
                type: object
                properties:
                  code:
                    type: string
                  field:
                    type: string
                  message:
                    type: string
                required:
                - field
                - message
                additionalProperties: false
          required:
          - code
          - message
          additionalProperties: false
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - false
      required:
      - error
      - success
      additionalProperties: false
    OneClickUnsubscribeResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            message:
              type: string
              description: Confirmation message
              example: Successfully unsubscribed
          required:
          - message
          additionalProperties: false
        meta:
          $ref: '#/components/schemas/ResponseMetadata'
        success:
          type: boolean
          enum:
          - true
      required:
      - data
      - success
      additionalProperties: false
      description: Successful API response
  securitySchemes:
    BearerAuth:
      description: 'Session token from signing in to AI Applyd, sent as `Authorization: Bearer <token>`.'
      scheme: bearer
      type: http
